{% extends 'base.html' %}

{% block content %}

<!-- центральна секція -->
<section class="col s6">
	<div class="row">
	 	<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input id="icon_prefix" type="text" class="validate">
          			<label for="icon_prefix">Пошук мінусовок</label>
        		</div>
      
      		</div>
    	</form>
		
		<div class="dictionary col s10 offset-s1">
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
			<a class="waves-effect waves-light btn-small">a</a>
		</div>
		<div class="main_btn col s11 offset-s1">
		  <div class="row">
			<a class="waves-effect waves-light btn-large col s6"><i class="material-icons left">file_download</i>Завантажити мінусовку</a>
			<a class="waves-effect waves-light btn-large col s6"><i class="material-icons right">star</i>Статут та правила порталу</a>
		  </div>	
		</div>
		<div class="main_new col s11 offset-s1">
			<span>Банер-кнопка.Важлива новина</span>
			
		</div>
		<div class="all_news col s11 offset-s1">
			<div class="row">
				<div class="new col s12">
					<div class="row">
						<div class="new_caption col s12">
							<h2>News captions</h2>
						</div>
						<div class="new_text col s12">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="authors_and_button col s6">
							<div class="row">
								<a class="waves-effect waves-light btn-large col s3 tooltipped" data-position="bottom" data-tooltip="Любомир Лужний"><i class="material-icons left">perm_identity</i></a>
								<a class="waves-effect waves-light btn-large col s3" onclick="M.toast({html: 'комент',  classes: 'green'})"><i class="material-icons left">comment</i>2</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

{% endblock %}