{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- центральна секція -->
<section class="col l6 s12">
	<div class="row">
		<div class="main_btn col s11 offset-s1">
		  <div class="row">
			<a class="waves-effect waves-light btn-large col s6" href="{% url 'add_minus' %}"><i class="material-icons left">file_download</i>Завантажити мінусовку</a>
			<a class="waves-effect waves-light btn-large col s6"><i class="material-icons right">star</i>Статут та правила порталу</a>
		  </div>
		</div>
	 	<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input id="icon_prefix" type="text" class="validate">
          			<label for="icon_prefix">Пошук мінусовок</label>
        		</div>

      		</div>
    	</form>

		<!-- <div class="dictionary col s10 offset-s1">
               <a class="waves-effect waves-light btn-small col s1">0-9</a>
			<a class="waves-effect waves-light btn-small col s1">A</a>
			<a class="waves-effect waves-light btn-small col s1">B</a>
			<a class="waves-effect waves-light btn-small col s1">C</a>
			<a class="waves-effect waves-light btn-small col s1">D</a>
			<a class="waves-effect waves-light btn-small col s1">E</a>
			<a class="waves-effect waves-light btn-small col s1">F</a>
			<a class="waves-effect waves-light btn-small col s1">G</a>
			<a class="waves-effect waves-light btn-small col s1">H</a>
			<a class="waves-effect waves-light btn-small col s1">I</a>
			<a class="waves-effect waves-light btn-small col s1">J</a>
			<a class="waves-effect waves-light btn-small col s1">K</a>
			<a class="waves-effect waves-light btn-small col s1">L</a>
			<a class="waves-effect waves-light btn-small col s1">M</a>
			<a class="waves-effect waves-light btn-small col s1">N</a>
			<a class="waves-effect waves-light btn-small col s1">O</a>
			<a class="waves-effect waves-light btn-small col s1">P</a>
			<a class="waves-effect waves-light btn-small col s1">Q</a>
			<a class="waves-effect waves-light btn-small col s1">R</a>
			<a class="waves-effect waves-light btn-small col s1">S</a>
			<a class="waves-effect waves-light btn-small col s1">T</a>
			<a class="waves-effect waves-light btn-small col s1">U</a>
			<a class="waves-effect waves-light btn-small col s1">V</a>
			<a class="waves-effect waves-light btn-small col s1">W</a>
			<a class="waves-effect waves-light btn-small col s1">X</a>
			<a class="waves-effect waves-light btn-small col s1">Y</a>
			<a class="waves-effect waves-light btn-small col s1">Z</a>
			<a class="waves-effect waves-light btn-small col s1">А</a>
			<a class="waves-effect waves-light btn-small col s1">Б</a>
			<a class="waves-effect waves-light btn-small col s1">В</a>
			<a class="waves-effect waves-light btn-small col s1">Г</a>
			<a class="waves-effect waves-light btn-small col s1">Ґ</a>
			<a class="waves-effect waves-light btn-small col s1">Д</a>
			<a class="waves-effect waves-light btn-small col s1">Е</a>
			<a class="waves-effect waves-light btn-small col s1">Є</a>
			<a class="waves-effect waves-light btn-small col s1">Ж</a>
			<a class="waves-effect waves-light btn-small col s1">З</a>
			<a class="waves-effect waves-light btn-small col s1">И</a>
			<a class="waves-effect waves-light btn-small col s1">І</a>
			<a class="waves-effect waves-light btn-small col s1">Й</a>
			<a class="waves-effect waves-light btn-small col s1">К</a>
			<a class="waves-effect waves-light btn-small col s1">Л</a>
			<a class="waves-effect waves-light btn-small col s1">М</a>
			<a class="waves-effect waves-light btn-small col s1">Н</a>
			<a class="waves-effect waves-light btn-small col s1">О</a>
			<a class="waves-effect waves-light btn-small col s1">П</a>
			<a class="waves-effect waves-light btn-small col s1">Р</a>
			<a class="waves-effect waves-light btn-small col s1">С</a>
			<a class="waves-effect waves-light btn-small col s1">Т</a>
			<a class="waves-effect waves-light btn-small col s1">У</a>
			<a class="waves-effect waves-light btn-small col s1">Ф</a>
			<a class="waves-effect waves-light btn-small col s1">Х</a>
			<a class="waves-effect waves-light btn-small col s1">Ц</a>
			<a class="waves-effect waves-light btn-small col s1">Ч</a>
			<a class="waves-effect waves-light btn-small col s1">Ш</a>
			<a class="waves-effect waves-light btn-small col s1">Ю</a>
			<a class="waves-effect waves-light btn-small col s1">Я</a>
			<a class="waves-effect waves-light btn-small col s1">Ь</a>
		</div> -->

		<!-- <div class="main_new col s11 offset-s1">
			<span>Банер-кнопка.Важлива новина</span>

		</div> -->
		<div class="all_news col s11 offset-s1">
			<div class="row">
			<div class="new col s12">
					<div class="row">

						<div class="new_caption col s12">
							<h2>{{ news.title }}</h2>
						</div>
						<div class="new_text col s12">
							<p>{% if news.body %}{{ news.body }}{% else %} {{ news.preview }} {% endif %}</p>
						</div>
						<div class="authors_and_button col s12">
							<div class="row">
<!-- 	data-position="bottom" data-tooltip="" -->
								<a class="waves-effect waves-light btn-large  " ><i class="material-icons left">perm_identity</i>{{ news.user.first_name }} {{ news.user.last_name }}, {{ news.pub_date }}}</a>

							</div>
						</div>
					</div>
			</div>
			<div class="col s12 comments_in_minusstore">
					<p>Коментарі({{ count }}):</p>
					{% for c in news.comments %}
					<div class="comment col s12">
						<div class="avatar_mini col s4">
							<a href="{% url 'user_page' pk=c.user.id%}">
								<img src="{% static 'avatar_mini.jpg' %}"  class="circle responsive-img" alt="">
							</a>
						</div>
						<p style="font-weight: bold;"><a href="{% url 'user_page' pk=c.user.id%}" style="color:#6baf00;">{{ c.user.username }}</a></p>
						<p style="float:rigth;">{{ c.comment }}</p>
						<a href="#" class=""waves-effect waves-light btn-small" style="float:right;color:#6baf00">Відповісти</a>
					</div>
					{% endfor %}
					<div class="add_comment">
						<form  method="POST">
							<textarea name="comment_body"   cols="30" rows="15" placeholder="Залиште коментар"></textarea>
								<button type="submit" class="waves-effect waves-light btn-small">
									Відправити
								</button>

      								<label>
        								<input type="checkbox" />
        								<span>Підписатись на коментарі до цієї новини</span>
      								</label>

						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

{% endblock %}
