{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<!-- центральна секція -->
<section class="col l6 s12">
	<div class="row">
<!-- 		<div class="main_btn col s11 offset-s1">
		  <div class="row">
			<a class="waves-effect waves-light btn-large col s6" href="{% url 'add_minus' %}"><i class="material-icons left">file_download</i>Завантажити мінусовку</a>
			<a class="waves-effect waves-light btn-large col s6"><i class="material-icons right">star</i>Статут та правила порталу</a>
		  </div>
		</div> -->
		<form class="col s12" action="{% url  'minus-search' %}" method="GET">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input id="icon_prefix" name="search" type="text" class="validate">
          			<label for="icon_prefix">Пошук мінусовок</label>
        		</div>

      		</div>
    	</form>


	<div class="all_news col s11 offset-s1">
		<div class="row">
			<div class="new col s12">
				<div class="row">
					 <h1 style="color:red;" align="center">Статут та Правила Порталу</h1>  
	                                     <p style="color:#6baf00;">«Українські мінусовки»
                                    www.minus.lviv.ua  </p>
<!-- <pre style="width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: #efefef;">
 -->
<p>
<b>1. Загальні положення.</b>
<br>
1.1. Всеукраїнський Музичний Портал www.minus.lviv.ua 
(надалі – Портал) - це комплекс апаратних та програмних засобів, які забезпечують розміщення електронних  даних (документів) в мережі Інтернет на сервері даного порталу із доменом minus.lviv.ua 
 Даний Портал  створений з метою об'єднання музикантів, вокалістів, композиторів, аранжувальників, педагогів, DJ-їв, ведучих та усіх користувачів, які мають пряме відношення до її величності Музики; для обміну досвідом та інформацією про цікаві музичні аранжування відомих українських народних та сучасних естрадних пісень.
Портал є самоврядною, неприбутковою організацією, діяльність якої не перешкоджає законодавству України та має мету визначену в розділі 2. Портал не має на меті  отримання прибутку.
</p>
<p>
<b>1.2. Діяльність Порталу ґрунтується на принципах:</b><br>
законності;
взаємоповаги;
самоврядування, взаємодопомоги і співробітництва;
добровільності вступу до Форуму і виходу з нього;
вільного вибору форм і методів творчої діяльності;
визнання авторських прав та ліцензійного програмного забезпечення.
</p>
<p>
<b>1.3  Портал не має на меті отримання і розподілу прибутку.</b><br>
 Кошти, які  одержані Порталом внаслідок благочинних внесків, а також монетизації окремих розділів порталу, можуть бути використані на утримання хостингу, домену, послуг  IT спеціалістів, закупівлі реквізитів, преміальних відзнак для користувачів, оплати райдерних та організаційних витрат  по конкурсу вокалістів, а також команди порталу.
</p>
<p>
<b>1.4 Використання порталу</b><br>
а). Послуги та функції даного Порталу в повному обсязі,  можуть використовувати 
виключно тільки зареєстровані Користувачі.
б). Використання  порталу, доступ до архіву бази даних,  користування форумом,
 чатом, тощо - є абсолютно безкоштовними,  окрім окремих послуг та функцій розділу «куплю/продам».
</p>
<p>
<b>1.5 Реєстрація профілю користувача</b><br>
а). Реєстрація відбувається згідно стандартних процедур, 
використовуючи та заповнюючи обов’язкові поля для введення даних потенційного користувача,  
а також усіх необхідних підказок. Також є  можливість реєстрації  профілю із соціальної мережі  Фейсбук. 
б). Користувач, який реєструє профіль на даному Порталі,  
ає згоду на обробку персональних даних, згідно закону України про захист
 персональних даних громадян, а також погоджується із Статутом та Правилами даного Порталу.
в). Категорично заборонено реєструвати на одного користувача більше 
одного профілю! Якщо буде виявлено дане порушення  -  «профілі-клони»  
буде негайно видалено, а головний профіль користувача заблоковано включно 
з IP адресою  з подальшою забороною реєстрації на даному Порталі!
</p>
<p>
<b>1.6 Відповідальність сторін</b><br>
а) Мінусові фонограми,  які присутні у базі даних каталогу даного Порталу,
 розміщені у каталозі даного Порталу  виключно для ознайомчих цілей 
 і підлягають негайному знищенню після їх прослуховування користувачами, модераторами, 
 волонтерами і адміністрацією даного Порталу.
б) Плюсові фонограми (записи), медіа-файли, статті, публікації, тощо,  
які розміщенні на сторінках та серверах даного Порталу  - відповідальність 
а них несуть виключно  користувачі,  які їх розмістили, 
або які мають на них інтелектуальну власність чи дозвіл 
автора на використання та розміщення на сторонніх 
інтернет- ресурсах даних плюсових фонограм, медіа-файлів, статтей, публікацій тощо.
Більш детальніше у п. 14 Статуту та Правил даного Порталу.

</p>
<h2>
2. Мета, завдання Порталу.
</h2>
<p>
<b>2.1. Головною метою Порталу є:</b><br>  
Об’єднати осіб-однодумців,  як професіоналів,  
так і аматорів-початківців,  які мають пряме відношення 
до музики і все що пов’язане  з нею, -  для обміну  досвідом, 
здобуттям цінної інформації, просуванням  українського контенту, 
відродженням і просуванням  етнічної  української культури, розвитком  
сучасної естрадної, класичної, народної української пісні, ознайомленням  
із творчістю українських композиторів та аранжувальників, 
обміну досвідом педагогів та керівників різної музичної ланки: 
 музикантів-інструменталістів;
 вокалістів;
 керівників оркестру, хору, диригентів;
 аранжувальників, композиторів; 
продюсерів, аудіо-інженерів;  
керівників, педагогів  музичних,  дошкільних і ЗОШ закладів; 
 діджеїв , ведучих масових свят, артистів розмовного жанру, тощо.
</p>
<p>
<b>2.2. Завдання діяльності Форуму :</b><br>
Діяльність форуму на порталі  зосереджена на питаннях-відповідях дискусій,
 від користувачів даного Порталу, для підняття кваліфікаційного рівня, 
 обміну досвідом та інформацією, яка може бути цінною для цільової аудиторії Порталу,  
 про яку вказано у п. 2.1
</p>

<h2>3. Діяльність Порталу
<p>Із 2019 року Портал повністю відроджено та створено повну оновлену 
логістику, навігацію та зручний сучасний інтерфейс соціальної мережі.</p></h2> 
<p>
<b>3.1 На порталі присутній каталог із великою базою даних:</b><br> 
Мінусових фонограм української естрадної та народної пісні, 
представлених у вигляді аудіо та міді файлів; 
Мінусових фонограм для музичних інструментів;
Нотної бази (окремі твори, ансамблі, хорові 
та оркестрові партитури тощо);<br>
            Пісень етнічно-прикордонних областей 
            слов’янських народів-сусідів;
            Стилів та перформенсів для синтезаторів
             різних моделей та марок;
            Українських перекладів текстів пісень 
            іншомовного походження;
            Плюсових записів користувачів, 
            які доступні у вільному прослуховуванні; 
             (відповідальність за них несуть 
             виключно користувачі, які їх розмістили)
</p>                       
     <p><b>       3.2 Форум </b><br>
На порталі діє форум, де Ви можете спілкуватися, 
ділитися досвідом та цінною інформацією з Вашими колегами, 
запропонувати свою допомогу або звернутися за порадою. 
Усі умови та права користування даним розділом 
зазначені у п. 8 Статуту та Правил даного Порталу.
</p>
 <p><b>           3.3 Чат</b>
На порталі присутній online-чат, 
де Ви можете спілкуватися в реальному часі. 
(Графік та активність чату уточнюйте у відповідній рубриці на форумі або на «головній» сайту).
 Усі умови та права користування даним розділом зазначені у п. 8 Статуту та Правил даного Порталу.
</p>
<p><b>
3.4 Куплю/Продам</b><br>
На порталі присутній розділ «куплю-продам», 
де можна розміщувати приватні та бізнес-оголошення (магазин),
 продажу/купівлі/обміну музичного обладнання та музичних інструментів. 
Усі умови та права користування даним розділом зазначені у п. 9 Статуту та Правил даного Порталу.

</p>




<p>
<b>3.5 You-Tube канал</b><br> 
На порталі діє кнопка «You-Tube», 
яка перенаправляє користувача на офіційний канал сайту «Всеукраїнський Музичний Портал». 
Він містить інформаційні та тематичні відео, розраховані для цільової аудиторії порталу.
</p>
<p>
<b>	
3.6 Радіо
</b><br>
На порталі діє online-радіо із тематичними підбірками;
 а також online-плеєр, який у випадковому 
 порядку відтворює мінусові записи з бази даних порталу, 
 з можливістю перейти на відповідний запис до каталогу просто із самого плеєра.
</p>
<p>
	<b>3.7 Конкурс on-line – off-line</b><br>
             На порталі діє конкурс вокалістів, 
             інструменталістів, аранжувальників де зареєстровані  
             користувачі Порталу можуть викладати свої роботи, 
             згідно із положенням та вимогами 
             конкурсу, а також голосувати за виконавців 
             та авторів даного конкурсу. Раз у рік, за 
             традицією, у зимовий час буде проводитися 
             відкритий off-line  конкурс на «живо», де будуть
             усі необхідні умови відповідного райдеру, 
             кваліфікованого журі та організації даного 
             відкритого заходу.       
</p>
           <p><b>3.8    Дошка пошани</b><br>      
              На порталі присутній розділ «Дошка пошани», 
              який містить інформацію про унікальних користувачів Порталу,  
              які своєю відданою волонтерською працею роблять велику суспільно-корисну роботу для усіх користувачів даного Порталу.  
           Примітка. За неналежну поведінку чи порушення правил порталу, 
       премійовані користувачі можуть  
   бути вилучені із розділу «Дошка пошани».</p>
		
           <p><b>3.9 Пауза користувача</b><br>
              На порталі присутній розділ
               «Пауза користувача», -  де міститься відкрита для моніторингу статистика користувачів, 
               профілі котрих  було заблоковано за систематичні 
               порушення правил та статуту даного Порталу. 
               (перелік порушень п.3 Кожний користувач, профіль якого заблоковано - має  доступ суто до цієї рубрики-сторінки даного Порталу, де він зможе прокоментувати свою поведінку, 
               а також оскаржити рішення блокування його профілю (вибачитися, надати аргументи чи факти,
                які на його думку можуть бути спростовані що до упередженості до його профілю-особи, 
                посилаючись виключно на дані пункти  Статуту чи Правил даного Порталу) 
            </p>

            <p><b>3.10 FAQ</b><br> 
             Даний розділ місить відповіді на 
         часто поставлені питання від користувачів Порталу. </p>
			<p><b>
            3.11 Користувачі</b><br>
                Цей  розділ  містить  базу даних профілів користувачів, 
                які зареєстровані на даному Порталі.  
                У розділі присутній пошук користувачів із можливістю додати користувача у друзі.

           </p>
           <p><b>
             3.12 Плюсовки</b><br>
                  У розділі «плюсовки» зосереджена уся архівна база плюсових записів,
                    яка присутня на сервері даного порталу.
 			</p>
 			<p><b>
             3.13 Новини</b><br>
               У даному розділі публікуються  усі важливі  
               пости виключно від Адміністрації порталу.
         (опитування, зміни у Статуті  та Правилах  даного Порталу, 
         нововведення, покращення інтерфейсу і тд)
			</p>
			<p><b>
                3.14 Події</b><br>
                  Даний розділ містить стандартну «стрічку» соціальної мережі ,
                   в якій доступні до перегляду усі події у хронологічному порядку, 
                   які відбуваються на сайті, 
                   а також абсолютно уся активність  та дії зареєстрованих користувачів. 
                  Даний розділ дає швидкий доступ до моніторингу новин і змін, 
                  які відбуваються на Порталі (пости на форумі, додані товари у  «куплю продам», коментування товарів,
                   мінусовок, плюсовок, додавання файлів мінусовок, плюсовок, фото, тощо…),  
                   a також будь-які пости користувачів на тематику,  
                   яка адресована цільовій аудиторії користувача даного порталу, 
                   і така, яка не перешкоджає нормам  та правам  чинного законодавства України,
                    а також  Конституційних прав громадянина України.
			</p>
          

<h2>4. Органи управління Порталу</h2>
<p>
<b>Адміністрація</b> 
 <strong>4.1 Права –  Адміністрація має право:</strong><br>
 а) Володіння  даним Порталом, як таким , 
 який знаходиться у її власності, 
 а також  обліковими записами (профілями) користувачів та інформацією,  
 яка знаходиться у них чи без такої.<br>
б)  Змінювати інтерфейс, логістику, 
правила порталу (про які зазначено у п.6).<br> 
 в)  Вчиняти будь-які дії на даному Порталі, 
 на свій розсуд,  які не суперечать нормам чинного      з
 аконодавства України,  
 а також  не порушують конституційних прав громадян України та Користувачів, 
 Модераторів, Волонтерів даного порталу.<br>
г) Блокувати (банити) профілі користувачів за порушення правил 
та статуту даного Порталу на термін,  який зазначений у пункті  
 ----- правил  даного Порталу<br>
д) Видаляти (безповоротно) профілі  користувачів, які порушують  
правила та статут порталу,  про який йдеться у пункті -------- правил  даного порталу.<br>
е) Призначати модераторів, волонтерів для допомоги обслуговування
 даного порталу та контролю дотримання  Статуту та Правил Порталу, 
 а також позбавляти цього права модераторів чи волонтерів  -  за згодою модераторів чи волонтерів,  або без такої.<br>
є) Розподіляти благочинні ресурси,  а також надходження коштів
 на свій розсуд  для потреб утримання хостингу порталу,
 а також для послуг  IT спеціалістів чи команди даного Порталу.<br>
ж)  Розпоряджатися базою даних цього Порталу  - елементи дизайну,
 текст, графічні зображення, ілюстрації, відео, бази даних, музика,
  звуки і інші об'єкти, а також будь-який контент, розміщений на сервері даного Порталу - на свій розсуд. 
   (видаляти, видозмінювати та ін..) <br>
з) Не пояснювати причину  будь-яких своїх дій, вчинених  на порталі,  
 користувачам даного Порталу (чому і для чого видалено файл, змінено назву файлу, оголошення, коментар  та ін.).<br>
к)   Робити публічно чи  приватно  зауваження, 
 або попередження користувачам  даного порталу  за дії, 
  які суперечать Статуту та Правилам  даного Порталу. <br>
л)  Користуватись усіма функціями даного Порталу, 
на загальних правах та засадах, перелік яких зазначено у п. 3 Діяльність Порталу.
<br>о) Тимчасово припиняти роботу даного Порталу на час чи термін, 
 який необхідний для виконання профілактичних робіт, 
  тим самим обмежуючи доступ до даного Порталу усім користувачам, заздалегідь  повідомляючи їх про такі дії  у розділі Новини 3.13 даного Порталу.   </p>
<p>
<b>4.1.2  Категорично заборонено!</b><br>

Публічно чи приватно оскаржувати, обговорювати
 чи принижувати дії адміністрації!  
 Вимагати будь-яких дій  від  Адміністрації, 
  які суперечать нормам чинного законодавства України, або таких які розходяться з поглядами Адміністрації!  
</p>
<p>
<b>4.2 Обов’язки  -  Адміністрція зобов’язується:</b><br>
а)  Вчасно і систематично оплачувати послуги 
хостингу даного ресурсу, послуги команди розробників  IT .
б) Слідкувати за дотриманням Статуту  
та Правил даного порталу, та гарантувати їх неухильне виконання користувачами та модераторами даного Порталу.
в)  Бути неупередженою у своїх діях 
 до усіх Користувачів, Модераторів  даного Порталу.
г) Бути прикладом порядку і дисципліни у виконанні  Статуту 
 та Правил даного Порталу, а також нормах  чинного законодавства України та Конституції України.
д) Брати до уваги побажання користувачів та модераторів,
 що до покращення розвитку даного Порталу. (Побажання слід залишати у відповідних рубриках порталу та Форуму).
е) Вчасно інформувати користувачів та модераторів про будь-які зміни на порталі,
 чи внесення змін у Статут  та Правила Порталу у розділі  
 Новини 3.13.  
 Якщо зміни Статуті  та Правилах Порталу не було офіційно оголошено  
 у даному розділі - користувачі  та модератори можуть оскаржити дії блокування акаунту (який було заблоковано за невиконання таких дій), або взагалі не виконувати  цих змін та нововведень. 
ж) Абсолютно гарантувати кожному користувачеві анонімність персональних даних,
  згідно   закону України про захист персональних даних громадян України. 
   А також Конституційних прав громадян України ст. 23, ст28, ст31, ст34, ст35, ст41, ст54, Конституції України. Захист профілю логінів та паролів. (Логіка персоналізації паролів на порталі строго засекречена системою, і ніхто, навіть Адміністрація, не може знати паролів  до профілів користувачів).

</p>
<p>
<b>Модератори  <br>
4.3 Права -  Модератори мають право:</b>  <br>
а)  Робити публічно,  приватно  зауваження чи
 попередження користувачам чи волонтерам  даного порталу, 
  за дії які суперечать Статуту та Правилам  даного Порталу.
б)  Вносити зміни, редагувати,  чи видаляти будь-який контент
 з даного Порталу, як такий, який суперечить Статуту  та Правилам  даного Порталу.
в) Блокувати (банити) профілі користувачів чи волонтерів 
за порушення Статуту  та Правил  даного Порталу на термін,
 який зазначений у відповідному пункті Статуту  та Правил  даного Порталу (При виконанні покарання (попередження / бана) вказувати стисло причину).
г)  Користуватись усіма функціями даного Порталу,
 на загальних правах та засадах, перелік яких зазначено у п. 3 Діяльність Порталу. 

</p>
<p>
<b>	
4.3.1</b><br>
Усі Модератори на даному Порталі, являються довіреними
 особами Адміністрації, як такі, які компетентні та відповідальні у
  сфері та тематиці,  що стосується даного Поталу, - тому категорично заборонено  публічно обговорювати 
 чи принижувати дії Модераторів на форумах, чатах, коментарях та ін.., 
  (крім спеціальної рубрики  3.9 «Пауза користувача» - 
  де користувач може оскаржити блокування свого профілю,
   посилаючись виключно на пункти  Статуту та Правил даного Порталу).
Також заборонено вимагати будь-яких дій  від  Модераторів, 
 які суперечать нормам чинного законодавства України! 
</p>
<p><b>
4.4 Обов’язки – модератори зобов’зуються: </b><br>
а) Слідкувати за порядком і контролювати абсолютне виконання
 та дотримання Статуту та Правил даного Порталу, користувачами та волонтерами даного Порталу.
б)  Бути неупередженими  у своїх діях  до усіх користувачів,
 волонтерів та модераторів  даного Порталу.
в) Бути прикладом порядку і дисципліни у виконанні  Статуту
 та Правил даного Порталу.
г) Брати до уваги побажання користувачів, волонтерів та модераторів,
 щодо покращення розвитку даного Порталу. (Побажання слід залишати у відповідних рубриках порталу та Форуму)
д) Узгоджувати з Адміністрацією даного Порталу всі сумнівні та спірні моменти чи питання,
 які потребують  втручання Адміністрації , або такі, які самовільно зважено не можна прийняти
  без дозволу чи оперативного втручання Адміністрації даного Порталу.
е) Регулярно з'являтися на форумі.  Стежити за дотриманням користувачами правил форуму.
є) Проводити модерацію (чистку, закриття, редагування) неналежних тем,
 повідомлень, медіа-матеріалів, мінусів у каталозі, поповнення мінусових та плюсових файлів -  вказуючи причину видалення / закриття / редагування.
</p>
<p><b>
4.5 Модераторам забороняється</b>
а ) Карати / блокувати доступ користувачам, керуючись особистими образами,
 суб'єктивними причинами, настроєм.
б) Обговорювати з іншими модераторами поведінку когось із учасників форуму
 можна тільки в приватній бесіді. На форумі чи публічно, ніяких конфліктних 
 чи спірних  дискусій між модераторами бути не повинно.
в) Публічно обговорювати дії інших модераторів, обговорення ведеться тільки
 в особистому листуванні.
г ) Закривати очі на порушення Правил, зокрема,
 керуючись особистими симпатіями.
д) Розголошувати / обговорювати недоліки роботи адміністрації
 проекту в будь-яких розділах форуму та коментарях, крім закритого.
е) Розголошувати будь-яку службову інформацію стороннім особам.
</p>
<p><b>
Волонтери<br>
4.6 Права - Волонтери  мають право:</b>
а) Редагувати обраний чи доручений Адміністрацією
 контент  бази даних даного Порталу
 (права волонтерів можуть відрізнятися згідно вимог 
 і прав, які надає Адміністрація).
б) Користуватись усіма функціями даного Порталу,
 на загальних правах та засадах, перелік яких зазначено у п. 3 Діяльність Порталу.  
4.7 Обов’язки – Волонтери зобов’язуються:
а) Виконувати сумлінно  поставлені завдання,
 які зазначені  у п. 4.6 (а) Статуту  та Правил даного Порталу.
б)  Узгоджувати з Адміністрацією даного Порталу 
 усі сумнівні та спірні моменти чи питання, які потребують  втручання Адміністрації ,
  або такі, які самовільно зважено не можна прийняти без дозволу
   чи оперативного втручання Адміністрації даного Порталу.
</p>



<h2>5. Користувачі Порталу</h2>
<p><b> 
5.1 Права –  Користувачі мають право:</b><br>
а) Користуватись усіма функціями даного Порталу
 на загальних правах та засадах, перелік яких зазначено у п. 3 Діяльність Порталу.
б) Вносити свої корективи та зауваження щодо 
покращення функціоналу та логістики даного Порталу у відповідну рубрику,  а також на форумі даного Порталу.
в) Завантажувати у каталог порталу мінусові 
фонограми та плюсові записи, які не суперечать нормам авторського права, 
або які є у власності користувачів. 
Також завантажувати такі записи можна виключно тоді, 
 коли вони не порушують Статуту  та Правил  даного Порталу, а зокрема п.2 Правил Порталу.
г) Завантажувати медіа-файли (відео, фото, графічні малюнки тощо), які не порушують авторського права чи інтелектуальної власності суб’єктів,котрим вони належать. 
д) Добровільно і безоплатно реєструватися на даному Порталі, створюючи свій індивідуальний обліковий запис. 
е) Добровільно редагувати чи видаляти свій обліковий запис.
Примітка
Файли,  які користувачі завантажили на сервер даного Порталу,
 залишаються на сервері даного порталу,  як такі - на яких користувачі,
  що їх завантажили, не мають  претендувати в разі видалення свого облікового  запису!</p>
<p><b>
5.2  Обов’язки – Користувачі зобов’язуються :</b><br>
а) Сумлінно і неухильно виконувати Статут  та  Правила   даного Порталу
б) Реєструючись на даному Порталі – виконувати  умови та Правила порталу , які зазначені у п.6 в повному обсязі, а вразі порушення таких, нести відповідальність згідно цих умов та Правил, які зазначені у п.6 даного Порталу.</p>
<p><b>
5.3 Користувачам забороняється!</b><br>
Порушувати Статут та Правила даного порталу.</p>
<h2>
6. Правила Порталу
</h2><p><b>
 Загальні положення</b>
6.1 Усі користувачі, модератори, волонтери, адміністратори, профілі яких зареєстровані на даному Порталі, мають абсолютну рівність і можливість користування даним Порталом на рівних умовах та загальних засадах згідно п.3 Діяльність порталу.
6.2 Кожен користувач, який реєструє свій профіль на даному порталі, зобов’язується ознайомитися із Статутом та Правилами  даного Порталу.
6.3 Будь-які дії користувачів даного порталу, які суперечать правилам порталу – розцінюються як порушення правил порталу.
</p>
<h2>
7. Правила додавання Мінусової оркестровки (мінусовки) на Портал</h2>
<p>
7.1 Дозволяється розміщувати фонограми українських виконавців з україномовними текстами.
7.2 Дозволяється завантажувати інструментальні композиції. 
7.3 Дозволяється завантажувати мінусові фонограми пісень європейських народів-сусідів чи етнічних прикордонних зон України, виключно тих національностей, які подані у данному переліку:
Польські, Угорські, Білоруські, Румунські, Молдавські, Чеські.
7.4 Дозволяється завантажувати мінусові фонограми для соло інструментів (саксофон, акордеон, гітара, флейта, най тощо…)
7.5 Дозволяється завантажувати «Lounge музику», фонову музику, - виключно одним файлом, розмір (вага) якого не перевищує 100 мб.
7.6 Дозволяється завантажувати ноти та партитури пісень, ансамблів, хорових творів, інструментальних творів, тощо.
7.7 Дозволяється завантажувати стилі та перформенси для синтезаторів усіх марок та видів.
7.8 Дозволяється завантажувати переклади текстів українською мовою будь-яких пісень чи авторів.
7.9 Портал створено під мінусовки, тому плюсовки  компресуються до якості 96 кбіт моно і знаходяться в режимі прослуховування. Якщо ви хочете дозволити користувачам звантажувати "плюсовки" - розміщуйте їх на файлообмінниках, а в полі «опис мінусовки» або в полі коментаря під завантаженою мінусовкою, - вказувати посилання на плюсову фонограму.Також Ви можете розмістити їх у своєму профілі у розділі «Записи», перед тим надавши доступ до завантажування, поставивши прапорець у відповідному полі.
7.10 Мінусові фонограми без вказаного виконавця (естрадні), або без вказаної назви пісні (народні) видаляються автоматично без попередження,  як такі, які не проходять розділ «премодерації».
7.11 Перед заливанням мінусовки на Портал - перевірити присутність її на сервері каталогу даного Порталу.  Дублікати видаляються без попередженя. За повторне заливання дублікатів  Ваш профіль буде заблоковано.
7.12 Якщо у Вас є фонограма кращої якості, ніж та що знаходиться на сайті, то можна заливати з поміткою (краща якість). Тоді, після перевірки модератором, буде видалятись фонограма гіршої якості. 
7.13 Підписувати фонограми, котрі завантажуєте на Портал, потрібно в наступному форматі - в графі «Виконавець» спочатку писати Прізвище виконавця, а тоді Ім'я. Не підписувати вкладення всіма ВЕЛИКИМИ буквами.
7.14 Якщо ви заливаєте мінусовку гурту, дуету чи тріо - у графі "Виконавець" потрібно писати тільки назву дуету, гурту чи тріо. Слова "дует", "гурт" чи "тріо" писати не потрібно. 
7.15 Перед  додаванням файлу у розділі «завантажити мінусовку» потрібно ретельно і акуратно без помилок (граматичних орфографічних тощо), заповнити усі обов’язкові поля (позначені відповідними знаками), і переконавшись, що усе вірно і чітко подано згідно Правил даного Порталу, додати файл на сервер Порталу. Ваш файл не відразу доступний для ознайомлення і завантаження користувачами, спершу він потрапляє у розділ-комірку премодерації «файли які очікують підтвердження», тоді будь-які користувачі можуть оглянути його, перевірити його на якість, дублікат, а також на правильне заповнення обов’язкових полів, після того користувачі можуть подати претензію щодо порушення авторських прав (звісно за наявності відповідної доказової бази)  в полі коментування до файлу, а також самі можуть виправити помилки  редагування даного файлу і відправити виправлені версії на модерацію. 
Після того, як модерація дала дозвіл на розміщення файлу на сервері  - даний файл розміщується у каталог Порталу у відповідні розділи та рубрики каталогу даного Порталу, і доступний для завантаження та для ознайомлення користувачами даного Порталу.
7.15.1  Додавати файли мінусовок можна виключно у форматі мр3  якість яких не нижча за 192 kbps
Мінусовки із якістю нижче 192 – не будуть додані на портал і не пройдуть премодерцію!
</p>
<p>
 <b>Забороняється!</b><br>
7.15.2  Додавати файли у форматі WAV ! 
Якщо Ви хочете поділитися чи отримати файл у даному форматі від користувача, заливайте на файлообмінники і вказуйте посилання у полі коментаря або туди ж надсилайте свою електронну адресу для оримання такого файлу.
7.15.3   Розміщувати фонограми та задавки-нарізки низької якості! 
      Примітка – якщо задавка-нарізка представлена користувачем у належній якості і зроблена за допомогою професійної програми та відповідним фахівцем у галузі Звукорежисури, - дозволяється заливати. Тоді на розсуд модерації даний файл буде додано або видалено.
7.15.4  Не бажано розміщувати мінусові фонограми без вказаного виконавця (естрадні), або без вказаної назви пісні (народні). Коли такі є у власності користувача в хорошій якості – додавайте з поміткою - «Невідомий автор»  у полі «Виконавець», можливо за термін премодерації інші користувачі додадуть інформацію про авторство,  допрацюють цей файл, і наведуть комплектність такого до належного рівня.  
 
7.15.5 Забороняється розміщувати файли-дублікати! Перед заливанням мінусовки перевірити присутність її на сервері.  Дублікати видаляються без попередженя. За повторне заливання дублікатів – Ваш акаунт може бути заблоковано і доступ до порталу обмежено! (термін блокування профілю 1 тиждень)

7.15.6 Забороняється розміщувати виключно один файл фонограми, (крмі нот та партитур) без тексту, без плюсовго запису, без посилання на відео. – має бути хоча б один з перелічених пунктів присутній.


 Пріоритет файлів та рейтинг оцінювання
7.16  Пріоритет додавання файлів на портал дається виключно суто на мінусові фонограми УКРАЇНСЬКИХ виконавців та УКРАЇНСЬКИХ народних пісень!  
  Рейтинг оцінювання файлів
а) За додавання Української мінусовки, Українських нот та партитур, а також текстів перекладів Українською мовою будь-яких пісень - після того як файл пройшов «премодерацію», користувачу відразу нараховується 10 балів, кожне завантаження - 2 бали , кожен лайк користувача - 2 бали, модератора - 10 балів, адміністратора - 50 балів.
б) За будь-які інші файли,  -  рейтинг оцінювання дається суто за завантаження користувачами. Завантаження – 1 бал,  лайк (користувача, модератора, адміністрації) – 1 бал.


 <b>Забороняється!</b><br>                                                         
7.17 ДОДАВАТИ НА ДАНИЙ ПОРТАЛ РОСІЙСЬКИЙ КОНТЕНТ У БУДЬ-ЯКОМУ ВИГЛЯДІ!!!
7.18  Порушувати усі пункти правил «пункту 2» - правила додавання мінусової оркестровки (мінусовки) на портал!
Карається блокуванням профілю терміном (1місяць)
</p>
<h2>
8. Форум
</h2>
<p><b>
8.1 Загальні положення:</b><br>
Форум – це місце для он-лайн спілкування користувачів порталу.
Правила нашого форуму – не є формальність, а є обов’язковими до виконання всіма користувачами, модераторами, волонтерами та Адміністрацією. Реєструючись і спілкуючись на форумі, Ви підтверджуєте безумовну згоду з даними правилами і зобов’язуєтесь їх дотримуватись.</p>
<p><b>
8.2 Реєстрація користувачів:</b><br>
Додатково реєструватись на форумі не потрібно. Достатньо реєстрації на сайті.
Не допускається реєстрація кількох профілів на одного користувача Згідно п. 1.5(в)
</p>
<p><b>
8.3 Створення тем і повідомлень:</b><br>
а) Теми, що створюються повинні відповідати відповідним розділам.
б) Заголовки тем повинні бути короткими, але одночасно максимально відображати суть теми. Наприклад, в розділі пошуку мінусовок -  заголовок повинен містити Виконавця і назву пісні. Назва не повинна містити слів повністю ВЕЛИКИМИ буквами (крім абревіатур). Заголовки не повинні мати слів «терміново», «допоможіть», багато знаків оклику, знаків питання і т.д.
в) Перед створенням тем переконайтесь, що аналогічної теми не існує вже на форумі.
г) Забороняється створювати кілька аналогічних тем. Прохання створювати теми у відповідних розділах. Теми, створені з порушенням правил, будуть видалятись без попереджень. 
</p>	
8.4 Заборонені теми і повідомлення, в яких є: 
а) Нецензурна лексика 
б) Релігійні питання 
в) Питання військових та міжнаціональних конфліктів 
г) Політичні питання 
д) Образа честі і гідності інших осіб
За порушення п. 8.4 профіль блокується на (1 місяць)

8.5 На форумі заборонено:
а) Флуд - марнослів'я, яке займає (в багатьох випадках) великі обсяги і не несе якоїсь нової чи корисної інформації.
б) Флейм - словесна війна, яка не має жодного стосунку до початкової теми.
в) Офтоп - повідомлення, яке не стосується теми форуму.
г) Спам - масова розсилка повідомлень людям, які не висловили бажання її одержувати.
д) Порушенням правил слід вважати зловживання сленгом чи численнні орфографічні або граматичні помилки.
е) Реклама на форумі в будь-якій формі без згоди з адміністрацією категорично заборонена.

За порушення п. 8.5  дається попередження (публічно чи приватно), в подальшому коли попередження ігнорується профіль блокується терміном на (1 тиждень)

8.6 Порушення за які блокується профіль користувача:
а) За ненормативну лексику (навіть завуальовану крапками чи знаками) в коментарях, на форумі, в приватних повідомленнях та  цитуваннях. - (1 місяць)
б) За флуд, флейм, офтоп,  спам та недоречну саморекламу у не відведених для цього місцях. - (2 тижні)
в) За приниження честі та гідності користувачів порталу. - (1 місяць)
г) За дії та повідомлення, що суперечать нормам конституції України. - (півроку)
д) За образу релігійних поглядів користувачів порталу.  - (1 місяць)
е) За розпалювання міжетнічної ворожнечі. - (1 місяць)
є) За завантаження на сайт матеріалів порнографічного характеру. (півроку)
ж) За суперечку і прирікання з Адміністрацією чи Модератором - (1 місяць)
       з)  За публічне чи приватне обговорення  чи приниження Адміністрації - (2 місяці)
       и)   Вимога (вимагання)  будь-яких дій  від  Адміністрації, які суперечать нормам чинного законодавства України, або таких, які розходяться з поглядами Адміністрації  - (півроку) або безповоротне видалення профілю. 
Перелік "поганих вчинків" буде доповнюватися відповідно до їх появи, адже передбачити фантазію користувачів неможливо.
8.7 Усі правила та положення  Форуму - абсолютно точно відповідають правилам Чату.
8.8 Усі правила та положення  Форуму - абсолютно точно відповідають правилам та вимогам до «поля коментаря» (мінусовок, оголошень тощо).





9. Куплю / Продам

9.1 Загальні положення
 а)  Розділ «Куплю/продам» - це вид інтернет магазину-барахолки де користувачі даного порталу, мають можливість продати, купити, чи обміняти товар який має пряме чи часткове відношення до музики.
б) Розділ створено з метою, посприяти і полегшити придбання чи продажу товару користувачам даного Порталу які потребують таких послуг.
в) Розділ не створено з метою отримати надприбутки, усі кошти які надходять з даного розділу шляхом монетизації деяких автоматизованих функцій, - використовуються виключно згідно п. 1.3 Статуту та Правил даного Порталу.
г) Усі користувачі, які зареєстровані на даному порталі, мають право використовувати даний розділ за призначенням, із дотриманням правил даного розділу, на загальних засадах та правах (п.5.1) користувачів даного порталу.


9.2 Види профілю користувача 

9.3  Профіль «приватного користувача»
9.3.1  Даний вид профілю дозволяє будь-якому користувачу, використовувати площу даного розділу із можливістю розмістити на ньому, продаж, купівлі, чи обміну товару, який не суперечить правилам даного розділу, у кількості   3 (три) одиниці. (три оголошення) безкоштовно. Також є можливість безкоштовного підняття оголошення вгору списку раз у тиждень.
Обмеження
9.3.2 Фото товару - максимум 4 (чотри) світлини товару. 
9.3.3 Забороняється давати посилання на сторонні ресурси (крім відео на  YouTube).
Монетизовані функції
9.3.4 Щоб розмістити додаткове оголошення, рекламувати оголошення, чи підняти вгору раніше терміну – керуйтеся відповідними кнопками-підказками інтерфейсу даного розділу.

9.4  Профіль  «Магазину»
9.4.1 Даний вид профілю дозволяє використовувати площу даного Порталу у бізнес цілях, для розширених можливостей торгу лотами (товарами) користувачами даних профілів.
9.4.2 Користувачі у власності яких знаходиться даний вид профілю («Магазин»), мають право на більшу кількість публікації лотів (оголошень), згідно виду придбаного пакету.
9.4.3  Можливість додавати до 10 фото товару.
9.4.4 Можливість рекламувати в описі сторонні ресурси (інтернет-магазини тощо)
9.4.5 Можливість давати посилання на сторонні ресурси (інтернет магазини тощо)
9.4.6 Придбати даний профіль може будь-який Користувач (не «Новачок»), профіль якого не заблокований. Щоб придбати даний профіль-пакет  керуйтеся відповідними кнопками-підказками даного розділу. 
ВИДИ «пакету-магазину»
а). «Кіоск»  - 10 розміщень  - 150 грн  (15 грн за розміщення) термін дії 30 днів
б). «Маркет»  - 20 розміщень – 250 грн (12.5 грн. за розміщення) термін дії 30 днів
в). «Супер-Маркет»  -  30 розміщень – 300 грн (10 грн. за розміщення) термін дії 30 днів
г). Супер- Маркет річний - 30 розміщень 3000 грн  (економія 600 грн у рік). термін дії 1 рік
Примітка. Користувачу  який придбав один з видів-пакету,  автоматично присвоюється звання «МАГАЗИН» та сніппет з «корзиною», яка моніториться завжди біля його профілю.
Д) Адміністрація не повертає кошти користувачу, який придбав один з видів «пакету-магазину»,  коли такий розмістив оголошення із порушенням публікації даного лоту-розміщення, порушенням Статуту  та Правил даного Порталу, порушенням норм і прав чинного законодавства України  а також,  якщо товари-лоти знаходяться у списку заборонених до публікації таких  які не відповідають п 10.2 Статуту та Правил  даного Порталу.

10. Правила розміщення оголошення
10.1 Права та обмеження різних видів «профілів» зазначено у  п.9.3  та  п.9.4  Статуту  та Правил
10.2 Оголошення лоту, публікується виключно таке, яке відповідає суті та тематиці  даного Порталу (Усе що є дотичне до Музики, та усе що підпадає під Розділи, Види чи Типи даних категорій поданих у відповідній рубриці «куплю/продам».) 
( Для прикладу «продам ФОТОАПАРАТ Canon» - бо ним фотографували музичні гурти) 
10.3 Заборонено розміщувати лоти оголошень які суперечать п. 10.2
10.4 Категорично заборонено створювати додаткові профілі-клони  з метою безкоштовного набору розміщення кількості  оголошень яка перевищує 3 (три) одиниці. 
Усі такі дії, відразу будуть відстежені  Адміністрацією (Є відповідні автоматизовані функції які вираховують за відповідними параметрами клонів авторів-публікаторів).
Такі профілі,  разом з лотами, будуть негайно видалені - а профілі авторів які їх створили будуть негайно заблоковані!
10.5 Заборонено розміщувати комерційне оголошення від профілю «приватного користувача» . 
Під видом «комерційного оголошення»  слід розуміти таке оголошення, яке приносить неодноразовий дохід від публікації даного лоту, або якщо у даному лоті розміщено новий прилад чи види нових приладів. 
Такі лоти, відслідковуються Адміністрацією, - спершу дається попередження, потім видалення лоту разом з блокуванням профілю користувача який розмістив даний лот. 
10.6 Усі види «комерційного оголошення» дозволяється розміщувати  виключно придбавши один з видів «пакету-магазину» згідно п. 9.4.6 
10.7  Заборонено під лотами оголошень у коментарях публікувати посилання на сторонні ресурси де розміщені товари для продажі тощо..
10.8 Заборонено під лотами оголошень у коментарях  публікувати посилання чи пост-розміщення комерційного характеру!
Примітка.
Усі порушення п. 10.7 та 10.8 – караються попередженням а в подальшому, при ігноруванні, блокуванням профілю терміном на 1 місяць користувача-порушника.
10.9 Заборонено опис більше одного товару в одному розміщенні, також посилання на другі товари у описі.
10.10 Забороняється у полі коментаря під оголошенням іншого користувача, додавати спам-коментарі із посиланням – рекламою на інші лоти оголошення другим користувачам, з ціллю набору розміщень і реклами свого товару, за рахунок лотів-розміщень других користувачів. (Наступні дії  ведуть за собою покарання у вигляді попередження, а в подальшому зловживанні чи ігноруванні блокування профілю терміном на 1 місяць)

11 Правила оформлення оголошення
11.1 Заголовок
Заголовок повинен бути лаконічним та інформативним. 
Він не повинен містити спаму-тегу,  хеш-тегу, знаків сніппету та інших  повторювань  назви товару, адже на індексацію в пошукових інтернет системах це ніяк не вплине, а в пошуку у розділі «куплю/продам» таке оголошення не буде відтворюватися  у відповідних категоріях та списках.
11.1 В описі товару, потрібно розкрити стисло функціональність товару, косметичний стан, історію експлуатації товару, наявність товару (в наявності чи під замовлення), тощо. 
11.2 Ціна. Власник даного оголошення в обов’язковому порядку має вказати справжню ціну за товар. Вказування «віртуальної» ціни, для прикладу 0 грн, 1 грн, Чи явно занижену ціну від орієновочної ринкової вартості даного товару – вважається грубим порушенням, за яке користувач отримує попередження, а при ігноруванні – видалення лоту оголошення!
11.3 Фото товару має бути дотичним строго до даного товару і відповідати суто тому товару який фігурує у даному лоті. Строго заборонено додавати фото товару з будь-яких інших інтернет-ресурсів. Фото має бути зроблено власноруч, воно має бути читабельне, чітке (не розмите), і доносити максимальний зміст суті товару та його стану. (Такі світлини є об’єктивними,  і користувачі краще реагують на публікації таких товарів із реальними фото, які відповідають суто даному товару розкривають його зміст та стан).
11.4 Публікуючи оголошення, користувач зобов’язаний заповнити усі необхідні обов’язкові поля (позначені червоним), а також ознайомитися із правилами цього розділу «куплю/продам».
11.5 Оголошення яке  опубліковано із збереженням усіх пунктів і правил даного розділу, автоматично потрапляє у список лотів-розміщень на інтернет-площі даного Порталу і одразу доступне для перегляду потенційним користувачам-покупцям.
11.6 Адміністрація порталу має повноваження видаляти оголошення які грубо порушують дані вимоги правил, без будь-яких  пояснень своїх дій (чому було видалено лот і за що, якщо оголошення було видалено, - значить воно було опубліковане із вищезазначеними порушеннями). 

12. Ергономіка та  функціонал
12.1 Користувачі мають можливість (оголошення яке їм до вподоби) – додати у список «обрані» - відповідною кнопкою на інтерфейсі оголошення. У своєму профілі у розділі «Оголошення» доступний увесь перелік оголошень із списку «обрані».
12.2 Користувачі відразу мають можливість розпочати приват-чат із продавцем
12.3 Користувачі мають можливість абсолютно точно відфільтрувати тип бажаного товару, адже система нашої фільтрації категорій та видів  добре продумана під будь-які категорії товару які зазначені у п.10.2 Статуту  та Правил.
12.4 Користувачі чи продавці мають відповідні кнопки щоб поділитися даним лотом у соціальних мережах.
12.5 Працює кнопка «поскаржитись» на оголошення, якщо Ви вважаєте що даний лот порушує права користувача чи торгівлі на площі даного Порталу, чи будь-які інші порушення Статуту  та Правил даного Порталу.
Примітка. 
Безпідставне і незмістовне користування даною кнопкою - карається блокуванням профілю на термін до 7 днів!


13. Відповідальність сторін та вирішення спорів
13.1 Якщо Ви вважаєте що були порушені Ваші права як споживача, згідно чинного закону «Про захист прав споживача» - будь-ласка надсилайте Ваші претензії спершу у приватну переписку із продавцем, потім коли Ви вважаєте що така,  не принесла Вам бажаних задовільних результатів – надсилайте претензії та скарги на адресу Адміністрації даного Порталу.
13.2 Користувач який висуває претензію що до придбаного товару, зобов’язаний показати фото-відео документування пошкоджень товару, товаро-транспортну накладну логістичної компанії яка займалася доставкою даного товару, відео докази розпакування товару і перевірки його на пошкодження та функціональність прямо у центрі-відділенні даної логістичної компанії. А також пред’явити листування чат переписку із продавцем.
13.2.1 Користувачі які не мають матеріалів вище перелічених у п. 13.2 – не можуть виставляти претензію Продавцям,  і скарги які надходять на адресу Адміністрації без перелічених матеріалів п. 13.2 – розглядатися Адміністрацією не будуть.
13.3 Адміністрація не бере на себе зобов’язання,  а також не може нести відповідальність за якість товару  та послуг,  які розміщені у лотах даного розділу.  Адміністрація не повертає кошти за пошкоджений чи неякісний товар по вині продавця, не обмінює товар на новий тощо. В компетенції Адміністрації розібратися у суті питання, коли дійсно доведена вина продавця, провести профілактичну бесіду  (телефонну, листування) з порушником  якому пред’явлена претензія спору, заблокувати даний профіль «магазину» і припинити його діяльність щоб запобігти подальшої ескалації конфлікту між другими користувачами тощо.
13.4 Відповідальність за розміщення та публікацію продажного лоту,  експозицію товару, наявність товару, гарантійний сервіс товару, справність товару, стан товару,  відповідність опису товару - несе виключно користувач (профіль користувача), який опублікував та розмістив даний лот товару на інтернет-площі даного Порталу у розділі «куплю\продам».
13.5 Недобросовісні користувачі, які в цілях конкуренції,  хочуть безпідставно звинуватити користувача-продаця  у порушенні Статуту  та Правил та (з їхніх слів)  недоброякісного проданого ним товару –  публікуючи пости в коментарях під оголошеннями лоту продавця відповідного характеру, без пред’яви відповідних матеріалів про які зазначено у п. 13.2 – розцінюються Адміністрацією як наклеп,  і профілі таких блокуються відразу без попередження терміном на 1 місяць. В подальшому профілі таких користувачів за ігнорування п 13.5 – видаляються безповоротно!

           
         Поради від Адміністрації для користувачів розділу
                                      «КУПЛЮ\ПРОДАМ»

1. Не робіть передоплат.
2. Спробуйте шукати товар у своєму місці (області) і зустрічатися з продавцем особисто купуючи і оглядаючи товар за методом «з рук – в руки».
3. Якщо варіантів інших не існує, і потрібно замовити  товар з іншої області - скористайтеся перевіреним Логістичним оператором приміром «Нова пошта». Не передавайте дорогоцінний товар сумнівній компанії логістики, так як Продавець чи Покупець може позбутися якості та справності товару чи втратою такого, за невідповідні дії сумнівної компанії логістики!
4. Обов’язково перевіряйте товар перед покупкою (зовнішній стан, чи відповідає актуальності опису лоту, функціонал тощо)  В ідеалі бажано бути із свідком (друг чи працівник логістичної компанії), а також обов’язково проводити відео-фіксацію розпакування даного товару – тим самим Ви забезпечите себе  доказами пошкодження товару (коли такі присутні)  і Продавця товару,  який може в подальшому використовуючи Ваші докази  виставити претензії Логістичному оператору за неналежну якість доставки даного товару.
Наскільки б «дико» не виглядала процедура перевірки функціоналу товару ( привселюдно, співати, грати на муз інструментах тощо, зівак назбираєте 100%) -  зрозумійте одне,  5-10 хв дискомфорту не зрівняються в подальшому із клопотами та нервами які Ви отримаєте від несправного товару-приладу купуючи «кота в мішку». Тим паче Ви втрачаєте будь-які гарантії повернення товару Продавцеві із зрозумілих на це причин… Також Адміністрація не бере до уваги подібного роду претензії без відповідних доказів фото-відео фіксації, та документування доставки товару логіст-центром (товаро-транспортна накладна ТТН)
5. Якщо покупець перераховуватиме Вам гроші на банківську картку, повідомте йому суто номер карки (ХХХХ ХХХХ ХХХХ ХХХХ), та Ваше Імя та Призвіще – цих реквізитів цілком достатньо для здійснення транзакції і переводу коштів від суб’єкта покупця.
 КАТЕГОРИЧНО не повідомляйте CC код, присутній на звортоі картки (ХХХ), а також термін дії даної картки!
6. Не довіряйте чекам та СМС звітам про надходження коштів на Ваш рахунок! Перевіряйте актуальність надходження коштів через veb додаток (інтернет-банкінгу) або безпосередньо зв’язавшись із супортом-підтримкою Вашого оператора банку.


14. Пояснення щодо правових норм публікації аудіо матеріалу та іншою інтелектуальної власності.

14.1  Мінусові фонограми,  які присутні у базі даних каталогу даного Порталу, розміщені у каталозі даного Порталу  виключно для ознайомчих цілей  і підлягають негайному знищенню після їх прослуховування користувачами, модераторами, волонтерами і адміністрацією даного Порталу.
14.2  Плюсові фонограми (записи), медіа-файли, статті, публікації, тощо,  які розміщенні на сторінках та серверах даного Порталу  - відповідальність за них несуть виключно  користувачі,  які їх розмістили, або які мають на них інтелектуальну власність чи дозвіл автора на використання та розміщення на сторонніх інтернет- ресурсах даних плюсових фонограм, медіа-файлів, статтей, публікацій тощо.

14.3 Якщо Ви являєтесь правовласником інтелектуальної власності контенту який розміщено на сервері даного Порталу , і вважаєте що дане розміщення незаконне і порушує закон  України про «Авторське право та суміжні права» зокрема ст1, ст2 , ст3, ст4 – то методом  зворотної форми зв’язку -  повідомте Адміністрацію даного Порталу про дане правопорушення. 
Адміністрація розгляне вашу скаргу терміном до 14 днів і прийме рішення по даній скарзі (задоволить або не задоволить).  Відповідь прийде на Вашу поштову (mail) адресу, або іншою формою зворотнього  зв’язку.
14.4 Направляючи дану претензію-скаргу суб’єкт який її надсилає, зобов’язується вказати причину претензії вказавши лінк-посилання  на даний об’єкт – контент,  який (на його думку),  порушує його право власності, також відповідно керуючись чинним законодавством України і посилаючись на відповідні нормативно-правові акти (кодекси, статті, закони), зобов’язується пред’явити  в обов’язковому порядку, електронні  копії  відповідних  правових документів які засвідчують його право власність чи дотичність приналежності  йому такої,  на даний файл (об’єкт, контент).  
14.5 Якщо суб’єкт,  який  надсилає дану скаргу-претензію до Адміністрації даного Порталу ігнорує п. 14.4 Статуту та Правил даного Порталу – то Адміністрація взагалі не береться розглядати дану  скаргу-претензію від  Адресата  який  її направив.
14.6 Якщо суб’єкт не задоволений тими чи іншими діями Адміністації,  він може вирішити питання суперечки відповідно до вимог чинного законодавства України та Конституційних прав громадянина  фізичної чи юридичної особи,  звертаючись з відповідною позовною заявою до судових інстанцій обласних, районних чи місцевих підпорядкувань.



Адміністрація порталу    minus.lviv.ua     «Українські мінусовки»
Звортній зв'язок    minuslviv@gmail.com                         
                                        
                                         Львів 2019                            

                                                                                                                                             Ред.. 22.02.2019         



                            © 2019 Українські мінусовки на minus.lviv.ua. Всі права захищено. 
<!-- </pre> -->
		
				</div>
	
			</div>
		</div>

	</div>
</div>
</section>

{% endblock %}
