{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<section class="col s6">
	<div class="row">
		<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<i class="material-icons prefix">search</i>
          			<input id="icon_prefix" type="text" class="validate">
          			<label for="icon_prefix">Пошук мінусовок</label>
        		</div>
      
      		</div>
    	</form>
		
		<div class="dictionary col s10 offset-s1">
			<a class="waves-effect waves-light btn-small">0-9</a>
			<a class="waves-effect waves-light btn-small">A</a>
			<a class="waves-effect waves-light btn-small">B</a>
			<a class="waves-effect waves-light btn-small">C</a>
			<a class="waves-effect waves-light btn-small">D</a>
			<a class="waves-effect waves-light btn-small">E</a>
			<a class="waves-effect waves-light btn-small">F</a>
			<a class="waves-effect waves-light btn-small">G</a>
			<a class="waves-effect waves-light btn-small">H</a>
			<a class="waves-effect waves-light btn-small">I</a>
			<a class="waves-effect waves-light btn-small">J</a>
			<a class="waves-effect waves-light btn-small">K</a>
			<a class="waves-effect waves-light btn-small">L</a>
			<a class="waves-effect waves-light btn-small">M</a>
			<a class="waves-effect waves-light btn-small">N</a>
			<a class="waves-effect waves-light btn-small">O</a>
			<a class="waves-effect waves-light btn-small">P</a>
			<a class="waves-effect waves-light btn-small">Q</a>
			<a class="waves-effect waves-light btn-small">R</a>
			<a class="waves-effect waves-light btn-small">S</a>
			<a class="waves-effect waves-light btn-small">T</a>
			<a class="waves-effect waves-light btn-small">U</a>
			<a class="waves-effect waves-light btn-small">V</a>
			<a class="waves-effect waves-light btn-small">W</a>
			<a class="waves-effect waves-light btn-small">X</a>
			<a class="waves-effect waves-light btn-small">Y</a>
			<a class="waves-effect waves-light btn-small">Z</a>
			<a class="waves-effect waves-light btn-small">А</a>
			<a class="waves-effect waves-light btn-small">Б</a>
			<a class="waves-effect waves-light btn-small">В</a>
			<a class="waves-effect waves-light btn-small">Г</a>
			<a class="waves-effect waves-light btn-small">Ґ</a>
			<a class="waves-effect waves-light btn-small">Д</a>
			<a class="waves-effect waves-light btn-small">Е</a>
			<a class="waves-effect waves-light btn-small">Є</a>
			<a class="waves-effect waves-light btn-small">Ж</a>
			<a class="waves-effect waves-light btn-small">З</a>
			<a class="waves-effect waves-light btn-small">И</a>
			<a class="waves-effect waves-light btn-small">І</a>
			<a class="waves-effect waves-light btn-small">Й</a>
			<a class="waves-effect waves-light btn-small">К</a>
			<a class="waves-effect waves-light btn-small">Л</a>
			<a class="waves-effect waves-light btn-small">М</a>
			<a class="waves-effect waves-light btn-small">Н</a>
			<a class="waves-effect waves-light btn-small">О</a>
			<a class="waves-effect waves-light btn-small">П</a>
			<a class="waves-effect waves-light btn-small">Р</a>
			<a class="waves-effect waves-light btn-small">С</a>
			<a class="waves-effect waves-light btn-small">Т</a>
			<a class="waves-effect waves-light btn-small">У</a>
			<a class="waves-effect waves-light btn-small">Ф</a>
			<a class="waves-effect waves-light btn-small">Х</a>
			<a class="waves-effect waves-light btn-small">Ц</a>
			<a class="waves-effect waves-light btn-small">Ч</a>
			<a class="waves-effect waves-light btn-small">Ш</a>
			<a class="waves-effect waves-light btn-small">Ю</a>
			<a class="waves-effect waves-light btn-small">Я</a>
			<a class="waves-effect waves-light btn-small">Ь</a>
		</div>
		<div class="form_select_type_minus col s12">
			<div class="row">
				<form action="" class="col s11 offset-s1">
					<div class="row">
						 <div class="input-field col s6 select_region">
						    <select>
						      
						      <option value="1">Всі</option>
						      <option value="2">Аудіо</option>
						      <option value="3">General MIDI</option>
						      <option value="4">General MIDI</option>
						    </select>
						   <label>Тип</label>

						  </div>
							 <div class="input-field col s6 select_region">
							    <select>
							      
							      <option value="1">Все</option>
							      <option value="2">Українські мінусовки</option>
							      <option value="3">Інструментальні</option>
							    </select>
							   <label>Каталог</label>
 
						</div>
						<div class="input-field col s6 select_region">
						    <select>
						      
						      <option value="1">Всі</option>
						      <option value="2">Аудіо</option>
						      <option value="3">General MIDI</option>
						      <option value="4">General MIDI</option>
						    </select>
						   <label>Вибір за призначенням</label>

						  </div>
							 <div class="input-field col s6 select_region">
							    <select>
							      
							      <option value="1">Все</option>
							      <option value="2">Українські мінусовки</option>
							      <option value="3">Інструментальні</option>
							    </select>
							   <label>Вибір за жанром</label>
 
						</div>							  
					</div>
				</form>
			</div>
		</div>
		<div class="authors col s11 offset-s1">
			<div class="row">
				<h3>Всі автори</h3>
				<ul class="collapsible">
				{% for a in author %}
				<li >
				    <div class="collapsible-header">
				      <i class="material-icons">person</i>
				      <a href="{% url 'minus' pk=a.pk %}" style="color:white;text-decoration: underline;">{{ a.name }}</a>
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						
							<div>	
								<audio src="{% static 'minus.mp3' %}" controls controlsList="nodownload"></audio>
								
							</div>

				    				    	
				    </div>
				  </li>			
				  {% endfor %}	 
				</ul>	
			</div>
		</div>
</div>
</section>


{% endblock %}