 





body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}



/* header */
header{
	margin-bottom: 2vh;
}
.top_menu{
	background-color: #9ACD32;
	font-weight: bold;
}
.top_menu li{
	border-left:0.5px solid white;
}
.top_menu li:hover{
	text-decoration: underline;
}
.bottom_menu{
	background-color:  #fff; 

	
}
.bottom_menu li{
	border-left: 0.5px solid #9ACD32;
}
.tabik {
	display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 4vh;


}
nav ul a:hover{
	background-color: transparent;
}

.bottom_menu .tabik a{
	font-size: 1em;
	font-weight: bold;
	color: #9ACD32;
}
.bottom_menu li:hover {
	background-color: #9ACD32;
}
.bottom_menu li:hover a{
	color:#fff;
}
.back_menu {
	font-size:1em;
	color:black;
}
.green_li{
	background-color: #9ACD32;
	color:white;
	float: right;
	margin-right: 5px;
}
.add_comment button{
	background-color: #9ACD32;
	color:#fff;
}
.add_comment button:hover{
	background-color: #fff;
	color:#9ACD32;

}
.add_comment label{
	margin-left: 20%;
}
/*.tabiks.tabiks-transparent .tabik a, .tabiks.tabiks-transparent .tabik a.active {
	color: #9ACD32;
	font-weight: bold;
}*/
/*.tabs.tabs-transparent .tab a:hover{
	color:#fff;
}*/

/* endheader */

h1{
	color:green;
}
.collapsible-header{
	background-color: #9ACD32;
	color:white;

}
.collapsible-body{
	background-color: #fff;
	color: #9ACD32;
	font-weight: 800;
}
.collapsible-body .name_and_status p {
	color:#000;

}
.collapsible-body .name_and_status span {
	font-size:11px;

}
.collapsible-body .urls ul li {
	color:#000;
}
.collapsible-body .urls ul li a{
	color:#9ACD32;
}
.last_forum div p{
	color:#000;
}
.last_forum>div>p{
	color:#9ACD32;
}
/*.caption{
	background-color: #9ACD32;
}

.caption h2{
	font-size:20px;
	color:white;
}*/
/*footer*/
.page-footer{
	background-color: #9ACD32;
}
/*endfooter*/
.auth {
	color:black;
	
	

}
.auth h2 {
	font-size:1.5em;
}
.sbm_auth {
	background-color: #9ACD32 ;
}
.sbm_auth:hover{
	background-color: #fff;
	color: #9ACD32;
}
.url_to_reg{
	margin-top: 10px;
}
.url_to_reg a{
	color:black;
}
.url_to_reg a:hover {
	color:#9ACD32;

}

.reg h2{

	font-size:2em;
	font-weight: 800;
}
/* materialize forms*/

	.input-field{
		margin-bottom: 1vh;
	}

   .input-field label {
     color: #000;
   }

 /

    input:not([type]):focus:not([readonly]), 
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]){
   		border-bottom:1px solid #9ACD32;
		box-shadow: 0 1px 0 0 #9ACD32;
   }
	input:not([type]):focus:not([readonly])+label,
	input[type=text]:not(.browser-default):focus:not([readonly])+label,
	input[type=password]:not(.browser-default):focus:not([readonly])+label, 
	input[type=email]:not(.browser-default):focus:not([readonly])+label, 
	input[type=url]:not(.browser-default):focus:not([readonly])+label, 
	input[type=time]:not(.browser-default):focus:not([readonly])+label, 
	input[type=date]:not(.browser-default):focus:not([readonly])+label, 
	input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
	input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
	input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
	input[type=number]:not(.browser-default):focus:not([readonly])+label, 
	input[type=search]:not(.browser-default):focus:not([readonly])+label, 
	textarea.materialize-textarea:focus:not([readonly])+label{
		color: #9ACD32;
	}

   .input-field .prefix.active  {
   
     color: #9ACD32;
   }

   /* endmaterialize form*/


   /* dictionary */

    .dictionary a{
   		background-color: #9ACD32;
    }
	
	.dictionary a:hover{
		background-color:  #fff;
		color: #9ACD32;
	}
	.dictionary {
		margin-bottom: 2vh;
	}

	.main_btn>div>a{
		background-color:  #fff;
		color: #9ACD32;
	}

	.main_btn>div>a:hover{
		background-color: #9ACD32;
		color: #fff;
	}
	.main_new{
		height:200px;
		border:0.2px solid lightgrey ;
		color: #000;
		font-size:25px;		
		text-align: center;
	}


	.new_caption h2{
		font-size:25px;
	}

	.authors_and_button a{
		background-color: #fff;
		color:#9ACD32;

	}
	.authors_and_button a:hover{
		background-color: #9ACD32;
		color:#fff;
	}
	.authors_and_button a .wawes-ripple {
		background-color: #9ACD32;
	}


	/* Куплю продам */
	.marketing {
		height:100px;
		border:0.2px solid lightgrey ;
		color: #000;
		font-size:25px;		
		text-align: center;
		margin-bottom: 1vh;
	}
	.marketing h2{
		margin:0;
		padding:0;
	}
	.buy_and_selling {
		text-align:center;
	}
	.buy_and_selling a{
		background-color:  #9ACD32;
	}
	.buy_and_selling a:hover{
		background-color:  #fff;
		color:#9ACD32;
	}
	.buy_and_selling span{
		font-size:2.2em;
		color:#000;
	}
	.shops{
		border:1px solid black;
		text-align: center;
	}
	.shops h1{
		color:black;
		font-size:1.5em;
	}
	.shops .div_round{
		height:10%;
		text-align: center;
		background-color: #fff;
		margin-right:15px;
		color:#9ACD32;
		font-weight: bold;
	}
	.shops .div_round:hover{
		
		background-color: #9ACD32;
		color: #fff;
	}
	 .select_region ul li span{
		color: #9ACD32;
	}
	.sbmt { 
		display: block;
		background-color:  #9ACD32;
	 }
	 .sbmt:hover{
	 	background-color:  #fff;
	 	color:#9ACD32;
	 }
	  .tabs .tab>a {
	 	color:#9ACD32;
	 	transition-property: #9ACD32, background-color;

	 }
	 .tabs .tab a:focus, .tabs .tab a:focus.active{
	 	background-color:rgba(154, 205, 50,0.1) ;
	 	color:#9ACD32;
	 }
	 .tabs .tab a:hover, .tabs .tab a.active{
	 	
	 	color:#9ACD32;
	 }
	.tabs .indicator {
	 	background-color: #9ACD32;
	 }
	 .card .card-image img{
	 	width:20%;
	 }

	.new_minuses {
		padding:0;
		margin:0;
	}
	.new_minuses div{
		margin-left: 1%;
	}
	.new_minuses div a{
		background-color: #9ACD32;
	}
	.new_minuses div a:hover{
		background-color: #fff;
		color:black;
	}
	 /* endshop */


	 /* minus  */
	 
	 .author p {
	 	display: inline-block;
	 	font-size: 2em;
	 	color:#9ACD32 ;
	 	margin:0;
	 }
	 .author p i{
	 	font-size:1.5em;
	 	
	 }

	 .name p  {
	 	display: inline-block;
	 	font-size:1.5em;
	 	color:#000;
	 	margin:0;
	 	margin-bottom: 2vh;
	 }

	 .name p i{
	 	font-size:1em;

	 }
	
	.minus{
		margin-bottom: 2vh;
	}
	.about_minus {
		margin-bottom: 2vh;
	}
/*	.minus span {
		font-size: 14px;
	}
	.minus span i{
		font-size:14px;
	}*/

	.more_about .main_more_about_p p{
		font-size:1.3em;
		font-weight: 400;
	}
	.more_about .line{
		font-weight: 1000;
		color:#9ACD32;
	}
	.more_about .left{
		text-align: right;
	}
	.plus p {
		font-size:1.3em;
		font-weight: 400;
	}
	.minus_main_btn a{
		box-sizing: border-box;
		background-color: #fff;
		font-size:12px;
		font-weight: bold;
		color:#000;

	}

	.minus_main_btn a:hover{
		background-color: #9ACD32;
		color:#fff;
	}

	.download_btn{
		line-height: 60px;

	}
	.download_btn a{
		box-sizing: border-box;
		background-color: #9ACD32;
		font-size:12px;
		
		color:#fff;
	}
	.download_btn a:hover{
		background-color: #fff;
		color:#9ACD32;
	}
	.howmany {
		line-height: 30px;
		padding:0;
		margin:0;
	}
	.howmany p{
		margin:0;
	}
	.social_btn{
		text-align: center;
	}
	.social_btn a{
		margin-bottom: 1vh;
		background-color: #fff;
		color:#9ACD32;
	}
	.social_btn a:hover{
		background-color: #F5F5F5;
	}
	.social_btn span{
		color:#000;
	}

	.user_which_upload .information_about a{
		color:#000;

	}
	.user_which_upload .more_about_minus_from_uploader{
		border:1px solid #000;
	}
	.social_network p{
		font-size:1.3em;
		font-weight: 400;		
	}
	.social_network a{
		background-color: #fff;
		color:#000;
	}
	.social_network a:hover{
		background-color: #9ACD32;
	}
	.social_network a>img{
		width: 100%;
	}
	.text_of_track p:first-child{
		font-weight: bold;
		color:#000;
	}
	.text_of_track p:last-child{
		text-align: left;
		
	}
	.text_of_track a{
		background-color: #9ACD32;
		color:#fff;
	}
	.text_of_track a:hover {
		background-color: #fff;
		border: 2px solid #9ACD32;
		color: #9ACD32;
	}
	.comments_in_minusstore>p {
		font-weight: bold;
		font-size:1.3em;
	}

	/* endminus  */

	.name_and_lastname{
		margin:0;
		padding:0;
	}

	.name_and_lastname p{
		font-size:2em;
		margin:0;
		padding:0;
	}
	.status_and_urls p{
		color:#9ACD32;
		display:inline-block;
	}

	.status_and_urls span {
		color:#000;
	}
	#shame_adward{
		font-size:1em;
		color:red;
	}
