{% extends 'messanger_base.html' %}

{% block content %}


		<div id="chat_window" class="col l9">

		<div id="chat_window_messages" class="grey lighten-4 z-depth-1 ">
				{% if messages %}
				{% for m in messages %}
			{% if m.sender_id == request.user.id %}
					<div class="left_message_row row">
						<div class="left z-depth-1">
							<p class="message_text">{{ m.body|safe }}</p>
							<span class="message_time right">{{ m.send_at }}</span>
						</div>
					</div>
			{% else %}
				<div class="right_message_row row">
					<div class="right z-depth-1">
						<p class="message_text">{{ m.body|safe }}</p>
						<span class="message_time left">{{ m.send_at }}</span>
					</div>
				</div>

			</div>
			{% endif %}
			{% endfor %}




			<div id="chat_window_field" class="grey lighten-4 z-depth-1">
        		<div class="input-field">
			        <form>
          				<input placeholder="Введіть повідомлення:" type="text" class="validate">
        			</form>
        		</div>
			</div>

		</div>

		{% else %}
		<!-- <div id="chat_window_messages" class="grey lighten-4 z-depth-1 "> -->
			<h1 class="col offset-s2">Вас вітає наш месенджер!!! </h1>
		<!-- </div> -->
		{% endif %}
	</div>
</div>

{% endblock %}
