{% extends 'messanger_base.html' %}

{% block content %}

<section class="col s12">
	<div class="row">
		<div class="col s3 l3">
	    	<ul class="collection">

	    		<li id="search_field" class="collection-item l3">
				    
					<div class="row">
					    <div class="col s12">
					      <div class="row">
					        <div class="input-field col s12">
					          <i class="material-icons prefix">search</i>
					          <input type="text" id="autocomplete-input" class="autocomplete">
					          <label for="autocomplete-input">Пошук користувача</label>
					        </div>
					      </div>
					    </div>
				  	</div>

		    	</li>
				
		    	<li class="collection-item avatar l3 tab">
		    		<a class="hidden_a" href="#message1">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Username</span>

			      		<p>Lorem ipsum dolor...
			      			<span id="new_message_count" class="right new badge">9
			      			</span>
			      		</p>
		      		</a>

		    	</li>

		    	<li class="collection-item avatar l3">
		    		<a class="hidden_a" href="#message2">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Nick</span>

			      		<p>Proger...
			      			<span id="new_message_count" class="right new badge">2
			      			</span>
			      		</p>
			      	</a> 
		    	</li>

		    	<li class="collection-item avatar l3">
		    		<a class="hidden_a" href="#message3">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Ded Petro</span>

			      		<p>Риба сьогодні...
			      			<span id="new_message_count" class="right new badge">0 <!--Якщо 0 - то display: none -->
			      			</span>
			      		</p>
			      	</a> 
		    	</li>

		    	<li class="collection-item avatar l3">
		    		<a class="hidden_a" href="#message4">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Kuzya</span>

			      		<p>Chat top...
			      			<span id="new_message_count" class="right new badge">0 <!--Якщо 0 - то display: none -->
			      			</span>
			      		</p>
			      	</a> 
		    	</li>

		    </ul>
		</div>

		<div id="chat_window" class="col l9">

			<div id="chat_window_messages" class="grey lighten-4 z-depth-1 ">

				<div class="left_message_row row">
					<div class="left z-depth-1">
						<p class="message_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, temporibus.</p>
						<span class="message_time right">21:39</span>
					</div>
				</div>
				
				<div class="right_message_row row">
					<div class="right z-depth-1">
						<p class="message_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, temporibus.</p>
						<span class="message_time left">21:39</span>
					</div>
				</div>

			</div>





			<div id="chat_window_field" class="grey lighten-4 z-depth-1">
        		<div class="input-field">
			        <form>
          				<input placeholder="Введіть повідомлення:" type="text" class="validate">
        			</form>
        		</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}