{% extends 'messanger_base.html' %}

{% block content %}


		<div class="chat_window col s9 offset-s3">

		<div  class="grey lighten-4 z-depth-1 chat_window_messages row" id='chat_window_messages'>
			{% if messages %}
				{% for m in messages %}
			{% if m.recipient_id == request.user.id %}
					<div class="left_message col m12 ">
						<div class="left z-depth-1 col m6">
							<p class="message_text">{{ m.body|safe }}</p>
							<span class="message_time right">{{ m.sent_at }}</span>
						</div>
					</div>
			{% elif m.sender_id == request.user.id %}
				<div class="right_message col m12">
					<div class="right z-depth-1 col m6 offset-m6">
						<p class="message_text">{{ m.body|safe }}</p>
						<span class="message_time left">{{ m.sent_at }}</span>
					</div>


			</div>
			{% endif %}
			{% endfor %}






		</div>
		<div  class="grey lighten-4 z-depth-1 chat_window_field ">
					<div class="input-field">
						<!-- <form id="message"> -->
								<input placeholder="Введіть повідомлення:" type="text" class="validate message">
								<!-- <button id="submit" style="opacity:0;"></button> -->
						<!-- </form> -->
					</div>
		</div>
	{% else %}
		<!-- <div id="chat_window_messages" class="grey lighten-4 z-depth-1 "> -->
			<h1 class="col offset-s2">Вас вітає наш месенджер!!! </h1>
		<!-- </div> -->
	{% endif %}
	<script type="text/javascript">
		var block = document.getElementById("chat_window_messages");
		block.scrollTop = block.scrollHeight;
		console.log('zbc');
	</script>
	</div>
</div>

{% endblock %}
