{% extends 'base_2.html' %}

{% block content %}
<section class="col l12">

	<div class="col l8 offset-l2 z-depth-1">

		<div style="padding: 10px;" class="row">

			<div class="col l8">

				<div class="slider z-depth-1" style="border-radius: 10px;">
				    <ul class="slides" style="border-radius: 10px;">
				      <li>
				        <img style="border-radius: 10px 10px 0px 0px;" src="http://minus.lviv.ua/static/photos/yackiv/9018518628080791887_Jbl%20eminence%20speaker%201.jpg">
				      </li>

				      <li>
				        <img style="border-radius: 10px 10px 0px 0px;" src="http://minus.lviv.ua/static/photos/Senyutovych/4156492086058989599_A%20H%20MixWIZ3%201.jpg">
				      </li>

				      <li>
				        <img style="border-radius: 10px 10px 0px 0px;" src="http://minus.lviv.ua/static/photos/Senyutovych/7689259739376932538_Audio-technika%2010%202.jpg">
				      </li>

				      <li>
				        <img style="border-radius: 10px 10px 0px 0px;" src="http://minus.lviv.ua/static/photos/mart74/8595015130496109251_PICT0005.JPG">
				      </li>

				    </ul>
				</div>
			</div>

			<div class="col l4">
				<span style="font-size: 30px;" class="grey-text">
					Заголовок:<span style="color: green; font-size: 40px;"> {{ good.title }}</span>
				</span><br>

				<span style="font-size: 30px;" class="grey-text">
					Продавець:<span style="font-size: 30px;" class="black-text"> Username</span>
				</span><br>

				<span style="font-size: 30px;" class="grey-text">
					Категорія:<span style="font-size: 30px;" class="black-text"> Треш</span>
				</span><br>

				<span style="font-size: 30px;" class="grey-text">
					Місто:<span style="font-size: 30px;" class="black-text"> LOrem</span>
				</span><br><br><br>

				<span class="grey-text right">
					Додано {{ good.pub_date }}
				</span>
			</div>

		</div>



		<div style="padding: 10px;" class="row">
			<p class="black-text">{{ good.description }}</p>
		</div>

	</div>

</section>




{% endblock %}
