{% extends 'base_2.html' %}

{% block content %}
<section class="col s10 offset-s1">
	<div class="row">
		<div class="marketing col s12">
			<h2> Реклама</h2>
		</div>
		<div class="buy_and_selling col s12">
			<div class="row">
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons left">cloud</i>button</a>
				<h1 class="col s3">Куплю/Продам</h1>
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons right">cloud</i>button</a>
			</div>
		</div>



	</div>
	
</section>




{% endblock %}