{% extends 'base_2.html' %}

{% block content %}
<section class="col s10 offset-s1">
	<div class="row">
		<div class="marketing col s12">
			<h2> Реклама</h2>
		</div>
		<div class="buy_and_selling col s12">
			<div class="row">
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons left">add</i>Додати оголошення</a>
				<span class="col s4">Куплю/Продам</span>
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons right">done</i>Правила розміщення оголошень</a>
			</div>
		</div>
		<div class="col s12 shops">
			<div class="row">
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round ">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>

			</div>
		</div>
		<div class="forms_search">
			<div class="row">
				<form  class="col s12">
					 <div class="row">
        				<div class="input-field col s4">
          				<i class="material-icons prefix">search</i>
          					<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          					<label for="icon_prefix2">Пошук</label>

       					 </div>
       					 <div class="input-field col s4 select_region">
						    <select>
						      <option value="" disabled selected>Виберіть бажаний регіон</option>
						      <option value="1">Львів</option>
						      <option value="2">Київ</option>
						      <option value="3">Одесса</option>
						    </select>
						    
						</div>
						 <div class="input-field col s4 select_category">
						    <select multiple>
						      <option value="" disabled selected>Виберіть категорію</option>
						      <option value="1">Клавішні</option>
						      <option value="2">Cтрунні</option>
						      <option value="3">Музичне обладнання</option>
						    </select>
						    
						</div>
     				</div>
				</form>
			</div>
		</div>



	</div>
	
</section>




{% endblock %}