{% extends 'base_2.html' %}

{% block content %}
<section class="col s10 offset-s1">
	<div class="row">
		<div class="marketing col s12">
			<h2> Реклама</h2>
		</div>
		<div class="buy_and_selling col s12">
			<div class="row">
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons left">add</i>Додати оголошення</a>
				<span class="col s4">Куплю/Продам</span>
				<a class="waves-effect waves-light btn-large col s4"><i class="material-icons right">done</i>Правила розміщення оголошень</a>
			</div>
		</div>
		<div class="col s12 shops">
			<div class="row">
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round ">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>
			<div class="btn-floating btn-large waves-effect waves-light col s1 div_round">Вільно</div>

			</div>
		</div>
		<div class="forms_search">
			<div class="row">
				<form  class="col s12">
					 <div class="row">
        				<div class="input-field col s4">
          				<i class="material-icons prefix">search</i>
          					<textarea id="icon_prefix2" class="materialize-textarea "></textarea>
          					<label for="icon_prefix2">Пошук</label>

       					 </div>
       					 <div class="input-field col s4 select_region">
						    <select>
						      <option value="" disabled selected>Виберіть бажаний регіон</option>
						      <option value="1">Львів</option>
						      <option value="2">Київ</option>
						      <option value="3">Одесса</option>
						    </select>
						    
						</div>
						 <div class="input-field col s4 select_category">
						    <select multiple>
						      <option value="" disabled selected>Виберіть категорію</option>
						      <option value="1">Клавішні</option>
						      <option value="2">Cтрунні</option>
						      <option value="3">Музичне обладнання</option>
						    </select>
						    
						</div>
						  <div class="input-field col s2 select_region">
						    <select>
						      <option value="" disabled selected>Виберіть бренд</option>
						      <option value="1">Fender</option>
						      <option value="2">Casio</option>
						      <option value="3">Yamaha</option>
						    </select>
						   
						 </div>
						 <div class="input-field col s2 select_region ">
						    <select>
						      <option value="" disabled selected>Стан</option>
						      <option value="1">Нове</option>
						      <option value="2">Б/У</option>
						    </select>
						    
						 </div>

						  <div class="col s12"><button class="btn waves-effect sbmt col s4 offset-s4" type="submit" name="action">Знайти
    							<i class="material-icons right">send</i>
 						 </button></div>
     				</div>
				</form>
			</div>
		</div>
		<div class="all_products col s12">
			 <div class="row">
			    <div class="col s12">
			      <ul class="tabs ">
			        <li class="tab col s4 "><a href="#test1" class="active ">Всі товари</a></li>
			        <li class="tab col s4"><a  href="#test2">Товари приватних користувачів</a></li>
			        <li class="tab col s4"><a href="#test3">Товари бізнес користувачів</a></li>
			      </ul>
			    </div>
			    <div id="test1" class="col s12">

					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator   responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>			    	
			    </div>
			    <div id="test2" class="col s12">
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator   responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>			    	
			    </div>
			    <div id="test3" class="col s12">
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator  responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
					  <div class="card">
					    <div class="card-image waves-effect waves-block waves-light">
					      <img class="activator   responsive-img" src="http://praktikaprava.ru/wp-content/uploads/2017/11/obmen-tovara-v-techenii-14-dnej.jpg">
					    </div>
					    <div class="card-content">
					      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
					      <p><a href="#">This is a link</a></p>
					    </div>
					    <div class="card-reveal">
					      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
					      <p>Here is some more information about this product that is only revealed once clicked on.</p>
					    </div>
					  </div>
			    </div>
			    
 			 </div>
		</div>



	</div>
	
</section>




{% endblock %}