{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
	
	<section class="col s6">
		<div class="row">

		
			<div class="main_btn col s11 offset-s1">
			  <div class="row">
				<a class="waves-effect waves-light btn-large col s6"><i class="material-icons left">file_download</i>Завантажити мінусовку</a>
				<a class="waves-effect waves-light btn-large col s6"><i class="material-icons right">star</i>Статут та правила порталу</a>
			  </div>	
			</div>
<!-- 		<div class="main_new col s11 offset-s1" id="shame_adward">
			
			
		</div> -->


		<div class="shames col s11 offset-s1">
		<div class="row">
			<div class="card col s6">
    			<div class="card-image waves-effect waves-block waves-light" >
      				<img class="activator" style="display: inline-block;" src="{% static 'avatar_mini.jpg' %}">
      				<span style="font-size:1.5em;">10 днів</span>

    			</div>
    			<div class="card-content">
      			<span class="card-title activator grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">more_vert</i></span>
      			<div class="main_btn">
					<div>
						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>
						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>
					
					</div>				
			
				</div>
      
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">close</i></span>
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
		    </div>
			<div class="card col s6">
    			<div class="card-image waves-effect waves-block waves-light" >
      				<img class="activator" style="display: inline-block;" src="{% static 'avatar_mini.jpg' %}">
      				<span style="font-size:1.5em;">10 днів</span>

    			</div>
    			<div class="card-content">
      			<span class="card-title activator grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">more_vert</i></span>
      			<div class="main_btn">
					<div>
						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>
						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>
					
					</div>				
			
				</div>
      
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">close</i></span>
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
		    </div>
			
			<div class="card col s6">
    			<div class="card-image waves-effect waves-block waves-light" >
      				<img class="activator" style="display: inline-block;" src="{% static 'avatar_mini.jpg' %}">
      				<span style="font-size:1.5em;">10 днів</span>

    			</div>
    			<div class="card-content">
      			<span class="card-title activator grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">more_vert</i></span>
      			<div class="main_btn">
					<div>
						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>
						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>
					
					</div>				
			
				</div>
      
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">close</i></span>
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
		    </div>
			<div class="card col s6">
    			<div class="card-image waves-effect waves-block waves-light" >
      				<img class="activator" style="display: inline-block;" src="{% static 'avatar_mini.jpg' %}">
      				<span style="font-size:1.5em;">10 днів</span>

    			</div>
    			<div class="card-content">
      			<span class="card-title activator grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">more_vert</i></span>
      			<div class="main_btn">
					<div>
						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>
						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>
					
					</div>				
			
				</div>
      
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">close</i></span>
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
		    </div>
			<div class="card col s6">
    			<div class="card-image waves-effect waves-block waves-light" >
      				<img class="activator" style="display: inline-block;" src="{% static 'avatar_mini.jpg' %}">
      				<span style="font-size:1.5em;">10 днів</span>

    			</div>
    			<div class="card-content">
      			<span class="card-title activator grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">more_vert</i></span>
      			<div class="main_btn">
					<div>
						<a class="waves-effect waves-light btn-large col s12 ">Оскаржити рішення</a>
						<a class="waves-effect waves-light btn-large col s12 comments"  ><i class="material-icons left">comment</i>2</a>
					
					</div>				
			
				</div>
      
    			</div>
    			<div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Богдан Іванишин<i class="material-icons right">close</i></span>
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    			</div>
		    </div>												
			</div>			  
		</div>
	</div>
	</section>	
	
	
{% endblock %}