{% load staticfiles %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>minus.lviv.ua</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- mycss -->

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="father_GOD">

	<header>

		<div class="lozung">
			<h1>Всеукраїнський музичний інформаційний портал</h1>
		</div>
		  <nav class="nav-extended">
		    <div class="nav-wrapper top_menu">
		      <a href="{% url 'main' %}" class="brand-logo"><img src="{% static 'img/logo.png' %}"></a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="color:#6baf00;"><i class="material-icons">menu</i></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		      	<li><a href="{% url 'main' %}">Новини</a></li>
		      	<li><a href="{% url 'activities' %}">Події</a></li>
		      	<li><a href="{% url 'minusstore_main' %}">Мінусовки</a></li>
		        <li><a href="{% url 'main_shop' %}">Куплю/продам</a></li>


		        <li><a href="collapsible.html">Чат</a></li>
		        <li><a href="collapsible.html">Форум</a></li>


		      </ul>
		    </div>

		    <div class="nav-content bottom_menu">
					<a href="#" data-target="mobile" class="sidenav-trigger"  style="color:#6baf00;text-align:center;">Додаткове меню</a>
		      <ul class="tabiks tabiks-transparent left hide-on-med-and-down" id="nav-mobile">

						     <li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
						  	 <li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
						  	 <li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
						  	 <li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
						     <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">{% count_shame %}</span></a></li>
						     <!--<li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>-->
		        <!-- <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
						  	 <li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li>
		        			 <li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>

						 {% if request.user.is_authenticated %}

						 <li class="tabik green_li" style="background-color: #6baf00;color:white;"><a href="{% url 'user_page' pk=request.user.id %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
						 <li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a dropdown-trigger" href="#test2" style="color:white;" name="notifications" data-target='dropdown1' ><i class="small material-icons" >notifications</i></a></li>
							{% user_menu user_id=request.user.id %}

						{% endif %}
		      </ul>



		    </div>
		  </nav>

		  <ul class="sidenav" id="mobile-demo">
				<li><a href="{% url 'main' %}">Новини</a></li>
				<li><a href="collapsible.html">Події</a></li>
				<li><a href="{% url 'minusstore_main' %}">Мінусовки</a></li>
				<li><a href="{% url 'main_shop' %}">Куплю/продам</a></li>


				<li><a href="collapsible.html">Чат</a></li>
				<li><a href="collapsible.html">Форум</a></li>
		  </ul>


			<ul class="sidenav" id="mobile">
				{% if request.user.is_authenticated %}
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a href="{% url 'user_page' pk=request.user.id %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a dropdown-trigger" href="#test2" style="color:white;" name="notifications" data-target='dropdown2' ><i class="small material-icons" >notifications</i></a></li>
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a alarm_m" href="{% url 'messanger' %}" style="color:white;"><i class="small material-icons">email</i></a></li>

		<!--     <li class="tab"><a href="#test3" class="bmenu_a"><i class="small material-icons">email</i></a></li>
				<li class="tab"><a href="#test4" class="bmenu_a">Партнери</a></li> -->

					{% get_activitys user_id=request.user.id %}


				{% endif %}
				<li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
				<li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
			  <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">4</span></a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>
				<!-- <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
				<li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li>
				<li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>

			</ul>

			<ul id='dropdown2' class='dropdown-content' >
				<li style="background-color: white;color:#6baf00;"><a href="#!">Вас прокоментував Bulgar</a></li>
				<li style="background-color: white;color:#6baf00;"><a href="#!">Ваш мінус оцінили</a></li>
				<li style="background-color: white;color:#6baf00;"><a href="#!">three</a></li>

		</ul>


	</header>

<div class="container-fluid">
	<div class="row">


<!-- Ліва паннель  -->
		<div class="left_block col s12 m12 l3">
			<div class="row">

				<ul class="collapsible">
				  <li class="active">
				    <div class="collapsible-header active" >
				      <i class="material-icons">hourglass_full</i>
				     	Топ завантажень
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
				    	{% minus_per_all_time %}
		<!-- 		    	{% for m_a in minus_top_all_time %}
							<div>

								<h6>{{ m_a.title }}</h6>
							</div>
				    	{% endfor %} -->
				    </div>
				  </li>
				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">alarm_add</i>
				     Топ за рік
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
					{% minus_per_week %}

				    </div>
				  </li>
				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">alarm</i>
				     Топ за місяць
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
					{% minus_per_week %}

				    </div>
				  </li>
				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">hourglass_empty</i>
				     Топ за тиждень
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
					{% minus_per_week %}

				    </div>
				  </li>

				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">person_pin_circle</i>
				      Топ користувачів
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
				    	<div class="row">
				    		<div class="col s6 header_of_rate"><p>Користувач</p></div>
				    		<div class="col s6 header_of_rate"><p>Рейтинг</p></div>
							{% top_u %}
						</div>
				    </div>
				  </li>
				</ul>

				<ul class="collapsible">
				  <li class="active">
				    <div class="collapsible-header active" >
				      <i class="material-icons">collections_bookmark</i>
				     	Останні повідомлення на форумі
				      <span class="badge"></span></div>
				    <div class="collapsible-body last_forum">
						{% last_f %}
				    </div>
				  </li>
				 </ul>

			</div>

		</div>

<!-- Центральна панель -->
 {% block content %}







 {% endblock %}

<!-- Права панель -->
		<div class="right_block col col s12 m12 l3">
			<div class="row">
				<div class="new-files col s12">
					<ul class="collapsible">
					<li>
				    <div class="collapsible-header">
							{%	if request.user.is_authenticated %}
				      <i class="material-icons"><img src="{% static 'avatar_mini.jpg' %}"  class="circle responsive-img" alt=""></i>{{ request.user.first_name}} {{ request.user.last_name }}
							{% else %}
							<i class="material-icons">person</i>
							Закуліси
							{% endif %}

				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						<div class="row">
						{%	if request.user.is_authenticated %}
							<div class="name_and_status col s7">
								<p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
								<span>{% if request.user.is_staff %}Адміністратор {% else %} Користувач {% endif %}</span>
								<hr>


							</div>
							<div class="avatar_mini col s5">
								<img src="{% static 'avatar_mini.jpg' %}"  class="rectengular responsive-img" alt="">
							</div>
							<div class="urls col s12">
								<ul class="collection with-header">

        							<li class="collection-item"><div>Профіль<a href="{% url 'user_page' pk=request.user.id %}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Мінусовки<a href="{% url 'userminuses' user_id=request.user.id %}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Записи<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Фото<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Оголошення<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li style="font-size:1.2em;"><div><a href="{% url 'logout' %}" class="secondary-content">Вихід</a></div></li>
     							</ul>
							</div>
							{% else %}
							{% login %}

							{% endif %}
						</div>
				    </div>
				  </li>
				  <li  >
				    <div class="collapsible-header active" >
				      <i class="material-icons left">access_time</i>
				     	Файли які очікують підтвердження
				      <span class="badge"></span></div>
				    <div class="collapsible-body new_minuses">
						{% new_m %}
				    </div>
				  </li>
				  <li class="active">
				    <div class="collapsible-header active" >
				      <i class="material-icons left">access_time</i>
				     	Поповнення файлів
				      <span class="badge"></span></div>
				    <div class="collapsible-body new_minuses">
						{% last_minuses %}
				    </div>
				   </li>

				</ul>
					{% if request.user.is_authenticated %}
  					<a class="waves-effect waves-light btn-large follow" href="{% url 'subscribe' %}"><!-- <i class="material-icons left">add</i> -->Підписатись на оновлення файлів</a>
					{% endif %}
					<br>	<br>

    <table class="cal">
      <caption>
		Архів мінусовок
        <!-- January 2012 -->
      </caption>
      <thead>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
          <th>Sun</th>
        </tr>
      </thead>
      <tbody>



        <tr>
          <td><a href="{% url 'archiv_of_minuses' day=1 %}">1</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=2 %}">2</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=3 %}">3</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=4 %}">4</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=5 %}">5</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=6 %}">6</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=7 %}">7</a></td>

        </tr>
        <tr>
          <td><a href="{% url 'archiv_of_minuses' day=8 %}">8</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=9 %}">9</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=10 %}">10</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=11 %}">11</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=12 %}">12</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=13 %}">13</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=14 %}">14</a></td>

        </tr>
        <tr>
		  <td><a href="{% url 'archiv_of_minuses' day=15 %}">15</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=16 %}">16</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=17 %}">17</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=18 %}">18</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=19 %}">19</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=20 %}">20</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=21 %}">21</a></td>

        </tr>
        <tr>
          <td><a href="{% url 'archiv_of_minuses' day=22 %}">22</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=23 %}">23</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=24 %}">24</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=25 %}">25</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=26 %}">26</a></td>
          <td><a href="{%  url 'archiv_of_minuses' day=27 %}">27</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=28 %}">28</a></td>

        </tr>
        <tr>
        	<td><a href="{% url 'archiv_of_minuses' day=29 %}">29</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=30 %}">30</a></td>
          <td><a href="{% url 'archiv_of_minuses' day=31 %}">31</a></td>

        </tr>
      </tbody>
    </table>
	<ul class="collapsible">
			   <li class="active">
				    <div class="collapsible-header">
				      <i class="material-icons">person</i>
				      Користувачі онлайн
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						<!-- Користувачі онлайн  -->
						{% user_online %}
				    </div>
				  </li>
	</ul>
	</div>
</div>



	</div>
</div>













	<footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	            © 2014 Copyright Text
	            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	            </div>
	          </div>
	</footer>
</div>


</div>







<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- materialize_js	 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
var loc = window.location;
var wsStart = 'ws://';
if (loc.protocol === 'https:'){
	wsStart = 'wss://';
}
// var request_user = {{ request.user.id }};
var endpoint = wsStart + '127.0.0.1:8000/'+ {{ request.user.id }} + '/';
console.log(endpoint);
var liveuser_socket = new WebSocket(endpoint);
console.log(liveuser_socket);
liveuser_socket.onmessage = function(e){
	console.log('jej');
	var data = JSON.parse(e.data);
	console.log(JSON.parse(data['json_data'])[0]);
	json_data = JSON.parse(data['json_data']);
	if (json_data){
		console.log(e.data);


		var from_user = json_data[0]['fields']['frm_user'];
		console.log('kl');
		$('.alarm_m').empty();
		$('.alarm_m').append('<span style="color:red;font-weight:bold;font-size:1.5em;">!</span>');



	} else {
		var message = data['message'];
		var user = data['user'];

		$('#chat_window_messages').append('<div class="left_message col m12"><div class="left z-depth-1 col m6"><p class="message_text">'+ message.text+'</p></div></div>');
	}
}
liveuser_socket.onopen = function(e){
	console.log('open',e);
}

liveuser_socket.onerror = function(e){
	console.log('error',e);
	var liveuser_socket = new WebSocket(endpoint);
}

liveuser_socket.onclose = function(e){
	console.log('close',e);
	// var liveuser_socket = new WebSocket(endpoint);
}



</script>
{% block script %}
{% endblock %}
<script src="{% static 'js/search.js' %}"></script>

</body>
</html>
