{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<title>minus.lviv.ua</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- mycss -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="father_GOD">
	<header>
		

		  <nav class="nav-extended">
		    <div class="nav-wrapper top_menu">
		      <a href="#" class="brand-logo">Logo</a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="sass.html">Куплю/продам</a></li>
		        <li><a href="badges.html">Мінусовки</a></li>
		        <li><a href="collapsible.html">Форум</a></li>
		        <li><a href="collapsible.html">Новини</a></li>
		        <li><a href="collapsible.html">Партнери</a></li>
		      </ul>
		    </div>
		    <div class="nav-content bottom_menu">
		      <ul class="tabs tabs-transparent">
		        <li class="tab"><a href="#test1">Моя сторінка</a></li>
		        <li class="tab"><a class="active" href="#test2"><i class="small material-icons">notifications</i></a></li>
		        <li class="tab "><a href="#test3"><i class="small material-icons">email</i></a></li>
		        <li class="tab"><a href="#test4">Партнери</a></li>
		        
		      </ul>
		    </div>
		  </nav>

		  <ul class="sidenav" id="mobile-demo">
		    <li><a href="sass.html">Sass</a></li>
		    <li><a href="badges.html">Components</a></li>
		    <li><a href="collapsible.html">JavaScript</a></li>
		  </ul>


        


	</header>


<div class="container-fluid">
	<div class="row">


<!-- Ліва паннель  -->
		<div class="left_block col s3">
			<div class="row">
				
				<ul class="collapsible">
				  <li>
				    <div class="collapsible-header">
				      <i class="material-icons">hourglass_full</i>
				      First
				      <span class="badge"></span></div>
				    <div class="collapsible-body"><p>Топ завантажень</p></div>
				  </li>
				  <li>
				    <div class="collapsible-header">
				      <i class="material-icons">hourglass_empty</i>
				     Топ за тиждень
				      <span class="badge"></span></div>
				    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				  </li>
				  
				  <li>
				    <div class="collapsible-header">
				      <i class="material-icons">person_pin_circle</i>
				      Топ користувачів
				      <span class="badge"></span></div>
				    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
				  </li>				  
				</ul>				



			</div>
	
		</div>

<!-- Центральна панель -->
 {% block content %}
            


 



 {% endblock %}

<!-- Права панель -->
		<div class="right_block col s3">
			<div class="row">
		
			</div>
		</div>



	</div>
</div>













	<footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	            © 2014 Copyright Text
	            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	            </div>
	          </div>
	</footer>
</div>










<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- materialize_js	 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>