{% load staticfiles %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>minus.lviv.ua</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- mycss -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="father_GOD">
	<header>
			<nav class="nav-extended">
				<div class="nav-wrapper top_menu">
					<a href="{% url 'main' %}" class="brand-logo" id="logo"><img src="{% static 'img/logo.png' %}"></a>
					<!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="color:#6baf00;"></a> -->
					<ul class="right">
						<li><a href="{% url 'main' %}" class="top_menu_text">Новини</a></li>
						<li><a href="{% url 'activities' %}" class="top_menu_text">Події</a></li>
						<li><a href="{% url 'minusstore_main' %}" class="top_menu_text">Мінусовки</a></li>
						<li><a href="{% url 'main_shop' %}" id="blurb" class="top_menu_text">Куплю/продам</a></li>
						<li><a href="collapsible.html" class="top_menu_text">Форум</a></li>

					</ul>
				</div>

				<div class="nav-content bottom_menu">
					<a href="#" data-target="mobile-demo" class="sidenav-trigger"  style="color:#6baf00;text-align:center;"><i class="material-icons">menu</i></a>

					<ul class="tabiks tabiks-transparent left hide-on-med-and-down" id="nav-mobile">

								 <li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
								 <li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
								 <li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
								 <li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
								 <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">{% count_shame %}</span></a></li>
								 <!--<li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>-->
						<!-- <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
								 <li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li>
									<li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>


					</ul>
					{% if request.user.is_authenticated %}

					<ul class="login_menu">
						<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a href="{% url 'user_page' pk=request.user.id %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
						<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a dropdown-trigger" href="#test2" style="color:white;" name="notifications" data-target='dropdown1' ><i class="small material-icons" >notifications</i></a></li>
					 {% user_menu user_id=request.user.id %}
					 {% get_activitys user_id=request.user.id %}
				 </ul>

			 {% endif %}


				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
			{# #}
				<li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
				<li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
				<li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">4</span></a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>
				<!-- <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
				<li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li>
				<li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>

			</ul>

	</header>

<div class="container-fluid">
	<div class="row">


<!-- Ліва паннель  -->


<!-- Центральна панель -->
 {% block content %}







 {% endblock %}

<!-- Права панель -->

</div>













	<footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	            © 2014 Copyright Text
	            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	            </div>
	          </div>
	</footer>
</div>



</div>





<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- materialize_js	 -->
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<script>
	var loc = window.location;
	var wsStart = 'ws://';
	if (loc.protocol == 'https:'){
		wsStart = 'wss://';
	}
	var request_user = {{ request.user.id }};
	var endpoint = wsStart + '176.9.25.121:7000/'+ request_user + '/';
	console.log(endpoint);
	var socket = new WebSocket(endpoint);
	console.log(socket);
	socket.onmessage = function(e){
		console.log('message',e);
	}

	socket.onopen = function(e){
		console.log('open',e);
	}

	socket.onerror = function(e){
		console.log('error',e);
	}

	socket.onclose = function(e){
		console.log('close',e);
	}

</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>

<script src="{% static 'js/main/answerComments.js' %}"></script>
</body>
</html>
