{% load staticfiles %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	
	<title>minus.lviv.ua</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- mycss -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="father_GOD">
	
	<header>
		

		  <nav class="nav-extended">
		    <div class="nav-wrapper top_menu">
		      <a href="{% url 'main' %}" class="brand-logo">Logo</a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="{% url 'main_shop' %}">Куплю/продам</a></li>
		        <li><a href="{% url 'minusstore_main' %}">Мінусовки</a></li>
		        <li><a href="collapsible.html">Події</a></li>
		        <li><a href="collapsible.html">Чат</a></li>
		        <li><a href="collapsible.html">Форум</a></li>
		        <li><a href="collapsible.html">Новини</a></li>
		        
		      </ul>
		    </div>
		    <div class="nav-content bottom_menu">
		      <ul class="tabiks tabiks-transparent">
		        <li class="tabik "><a href="https://www.youtube.com/" class="bmenu_a back_menu">Youtube</a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
		        <li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
		      <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">4</span></a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога порталу</a></li>
		        <li class="tabik " style="background-color: #9ACD32;color:white;"><a href="{% url 'user_page' %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
		        <li class="tabik " style="background-color: #9ACD32;color:white;"><a class="bmenu_a" href="#test2" style="color:white;"><i class="small material-icons">notifications</i></a></li>
		    <!--     <li class="tab"><a href="#test3" class="bmenu_a"><i class="small material-icons">email</i></a></li>
		        <li class="tab"><a href="#test4" class="bmenu_a">Партнери</a></li> -->
		        
		      </ul>
		    </div>
		  </nav>

<!-- 		  <ul class="sidenav" id="mobile-demo">
		    <li><a href="sass.html">Sass</a></li>
		    <li><a href="badges.html">Components</a></li>
		    <li><a href="collapsible.html">JavaScript</a></li>
		  </ul> -->


        


	</header>


<div class="container-fluid">
	<div class="row">


<!-- Ліва паннель  -->
		<div class="left_block col s3">
			<div class="row">
				
				<ul class="collapsible">
				  <li class="active">
				    <div class="collapsible-header active" >
				      <i class="material-icons">hourglass_full</i>
				     	Топ завантажень
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
				    	{% minus_per_all_time %}
		<!-- 		    	{% for m_a in minus_top_all_time %}
							<div>
								
								<h6>{{ m_a.title }}</h6>
							</div>
				    	{% endfor %} -->
				    </div>
				  </li>
				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">hourglass_empty</i>
				     Топ за тиждень
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
					{% minus_per_week %}

				    </div>
				  </li>
				  
				  <li >
				    <div class="collapsible-header">
				      <i class="material-icons">person_pin_circle</i>
				      Топ користувачів
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						{% top_u %}			    	
				    </div>
				  </li>				  
				</ul>				

				<ul class="collapsible">
				  <li class="active">
				    <div class="collapsible-header active" >
				      <i class="material-icons">collections_bookmark</i>
				     	Останні повідомлення на форумі
				      <span class="badge"></span></div>
				    <div class="collapsible-body last_forum">
						{% last_f %}
				    </div>
				  </li>
				 </ul> 

			</div>
	
		</div>

<!-- Центральна панель -->
 {% block content %}
            


 



 {% endblock %}

<!-- Права панель -->
		<div class="right_block col s3">
			<div class="row">
				<div class="new-files col s12">
					<ul class="collapsible">
					<li >
				    <div class="collapsible-header">
				      <i class="material-icons">person</i>
				      Закуліси
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						<div class="row">
						{%	if usr %}
							<div class="name_and_status col s7">
								<p>{{ usr.first_name }}</p>
								<span>Адміністратор</span>
								<hr>


							</div>
							<div class="avatar_mini col s5">
								<img src="{% static 'avatar_mini.jpg' %}"  class="rectengular responsive-img" alt="">
							</div>
							<div class="urls col s12">
								<ul class="collection with-header">
        								
        							<li class="collection-item"><div>Профіль<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Мінусовки<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Записи<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Фото<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        							<li class="collection-item"><div>Оголошення<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
     							</ul>								
							</div>
							{% else %}
							<form class="auth" method="POST">
								{% csrf_token %}
								<h2>Вхід</h2>
								{{ form.as_p }}
								<button type="submit" class="sbm_auth waves-effect waves-light btn-small">Увійти</button>

							</form>
							<div class="url_to_reg"><a href="{% url 'registration_page' %}">Або ж зараєструйтесь</a></div>

							{% endif %}
						</div>				    	
				    </div>
				  </li>						
				  <li class="active" >
				    <div class="collapsible-header active" >
				      <i class="material-icons left">access_time</i>
				     	Файли які очікують підтвердження
				      <span class="badge"></span></div>
				    <div class="collapsible-body new_minuses">
						{% new_m %}							    	
				    </div>
				  </li>
				   <li >
				    <div class="collapsible-header">
				      <i class="material-icons">person</i>
				      Користувачі онлайн
				      <span class="badge"></span></div>
				    <div class="collapsible-body">
						{% top_u %}			    	
				    </div>
				  </li>	
				</ul>

		
			</div>
		</div>



	</div>
</div>













	<footer class="page-footer">
	          <div class="container ">
	            <div class="row">
	              <div class="col l6 s12">
	                <h5 class="white-text">Footer Content</h5>
	                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
	              </div>
	              <div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Links</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	          <div class="footer-copyright">
	            <div class="container">
	            © 2014 Copyright Text
	            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
	            </div>
	          </div>
	</footer>
</div>










<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- materialize_js	 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>