{% load staticfiles %}
{% load my_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>minus.lviv.ua</title>
	<!-- Materialize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- mycss -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/messanger.css' %}">
</head>
<body>

<div class="father_GOD">
<!--
	<header>

		<div class="lozung">
			<h1>Всеукраїнський музичний інформаційний портал</h1>
		</div>
		  <nav class="nav-extended">
		    <div class="nav-wrapper top_menu">
		      <a href="{% url 'main' %}" class="brand-logo"><img src="{% static 'img/logo.png' %}"></a>
		      <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="color:#6baf00;"><i class="material-icons">menu</i></a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		      	<li><a href="{% url 'main' %}">Новини</a></li>
		      	<li><a href="collapsible.html">Події</a></li>
		      	<li><a href="{% url 'minusstore_main' %}">Мінусовки</a></li>
		        <li><a href="{% url 'main_shop' %}">Куплю/продам</a></li>


		        <li><a href="collapsible.html">Чат</a></li>
		        <li><a href="collapsible.html">Форум</a></li>


		      </ul>
		    </div>

		    <div class="nav-content bottom_menu">
					<a href="#" data-target="mobile" class="sidenav-trigger"  style="color:#6baf00;text-align:center;">Додаткове меню</a>
		      <ul class="tabiks tabiks-transparent left hide-on-med-and-down" id="nav-mobile">
		        <li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
		        <li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
		      <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">4</span></a></li>
		        <li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>
		         <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
		          <!-- <li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li>
		         <li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>
		        {% if request.user.is_authenticated %}
		        <li class="tabik green_li" style="background-color: #6baf00;color:white;"><a href="{% url 'user_page' pk=request.user.id %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
		        <li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a dropdown-trigger" href="#test2" style="color:white;" name="notifications" data-target='dropdown1' ><i class="small material-icons" >notifications</i></a></li>
		        <li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a" href="{% url 'messanger' %}" style="color:white;"><i class="small material-icons">email</i></a></li> -->

		    <!--     <li class="tab"><a href="#test3" class="bmenu_a"><i class="small material-icons">email</i></a></li>
		        <li class="tab"><a href="#test4" class="bmenu_a">Партнери</a></li> -->

		      <!-- </ul> -->

			<!-- {% endif %}
			<ul id='dropdown1' class='dropdown-content' >
				<li><a href="#!">Вас прокоментував Bulgar</a></li>
				<li><a href="#!">Ваш мінус оцінили</a></li>
				<li class="divider" tabindex="-1"></li>
				<li><a href="#!">three</a></li>
				<li><a href="#!"></li>
				<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
	</ul>
		    </div>
		  </nav>

		  <ul class="sidenav" id="mobile-demo">
				<li><a href="{% url 'main' %}">Новини</a></li>
				<li><a href="collapsible.html">Події</a></li>
				<li><a href="{% url 'minusstore_main' %}">Мінусовки</a></li>
				<li><a href="{% url 'main_shop' %}">Куплю/продам</a></li>


				<li><a href="collapsible.html">Чат</a></li>
				<li><a href="collapsible.html">Форум</a></li>
		  </ul>


			<ul class="sidenav" id="mobile">
				{% if request.user.is_authenticated %}
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a href="{% url 'user_page' pk=request.user.id %}" class="bmenu_a" style="color:white;">Моя сторінка</a></li>
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a dropdown-trigger" href="#test2" style="color:white;" name="notifications" data-target='dropdown2' ><i class="small material-icons" >notifications</i></a></li>
				<li class="tabik green_li" style="background-color: #6baf00;color:white;"><a class="bmenu_a" href="{% url 'messanger' %}" style="color:white;"><i class="small material-icons">email</i></a></li>

	<li class="tab"><a href="#test3" class="bmenu_a"><i class="small material-icons">email</i></a></li>
				<li class="tab"><a href="#test4" class="bmenu_a">Партнери</a></li> -->


<!--
				{% endif %}
				<li class="tabik "><a target="_blank" href="https://www.youtube.com/channel/UC8ZIZXC1LSM97_cZDMIFJvA" class="bmenu_a back_menu">Youtube</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Радіо</a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">Конкурс вокалістів</a></li>
				<li class="tabik "><a href="{% url 'desk_of_respect' %}" class="bmenu_a back_menu" >Дошка пошани</a></li>
			  <li class="tabik "> <a href="{% url 'desk_of_shame' %}" class="bmenu_a back_menu" >Пауза користувача  <span style="color:red;">4</span></a></li>
				<li class="tabik "><a href="#" class="bmenu_a back_menu">FAQ</a></li>
				 <li class="tabik "><a href="#" class="bmenu_a back_menu">Допомога </a></li> -->
				<!-- <li class="tabik "><a href="{% url 'userlist' %}" class="bmenu_a back_menu">Користувачі</a></li> -->
				<!-- <li class="tabik "><a href="{% url 'plusstore_main' %}" class="bmenu_a back_menu">Плюсовки</a></li>

			</ul>

			<ul id='dropdown2' class='dropdown-content' >
				<li><a href="#!">Вас прокоментував Bulgar</a></li>
				<li><a href="#!">Ваш мінус оцінили</a></li>
				<li class="divider" tabindex="-1"></li>
				<li><a href="#!">three</a></li>
				<li><a href="#!"></li>
				<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
		</ul> -->


	<!-- </header>  -->

<div class="container-fluid">
	<div class="row">


<!-- Ліва паннель  -->

<section class="col s12">
	<div class="row">
		<div class="col s3 l3 sender col s3">
	    	<ul class="collection">

	    		<li id="search_field" class="collection-item l3">

					<div class="row">
					    <div class="col s12">
					      <div class="row">
					        <div class="input-field col s12">
					          <i class="material-icons prefix">search</i>
					          <input type="text" id="autocomplete-input" class="autocomplete">
					          <label for="autocomplete-input">Пошук користувача</label>
					        </div>
					      </div>
					    </div>
				  	</div>

		    	</li>
					{% for s in sender %}

						{% if s.id == pk %}
						<li class="collection-item avatar l3 tab" style="background-color:red;">
		    		<a class="hidden_a" href="{% url 'message_user' pk=s.id %}"  style='background-color:#66baf00;' >
							<!-- <span -->
						{% else %}
						<li class="collection-item avatar l3 tab">
							<a class="hidden_a  l{{ s.id }}" href="{% url 'message_user' pk=s.id %}"  >
						{% endif %}
						<span style="display: none;" class="id" data-id="{{ s.id }}"></span>
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278"   alt="" class="circle">
			      		<span class="title">{% if s.first_name %}{{ s.first_name }} {{ s.last_name }}{% else %} {{ s.username }} {% endif %}</span>
						<!-- </a> -->

		      		</a>

		    	</li>
					{% endfor %}
<!--
		    	<li class="collection-item avatar l3">
		    		<a class="hidden_a" href="#message2">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Nick</span>

			      		<p>Proger...
			      			<span id="new_message_count" class="right new badge">2
			      			</span>
			      		</p>
			      	</a>
		    	</li>

		    	<li class="collection-item avatar l3">
		    		<a class="hidden_a" href="#message3">
			     		<img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle">
			      		<span class="title">Ded Petro</span>

			      		<p>Риба сьогодні...
			      			<span id="new_message_count" class="right new badge">0 <Якщо 0 - то display: none -->
			      			<!-- </span>
			      		</p>
			      	</a>
		    	</li> -->

		    	<!-- <li class="collection-item avatar l3"> -->
		    		<!-- <a class="hidden_a" href="#message4"> -->
			     		<!-- <img src="http://forum.gamexp.ru/image.php?u=1167939&dateline=1497791278" alt="" class="circle"> -->
			      		<!-- <span class="title">Kuzya</span> -->

			      		<!-- <p>Chat top... -->
			      			<!-- <span id="new_message_count" class="right new badge">0 <Якщо 0 - то display: none -->
			      			<!-- </span> -->
			      		<!-- </p> -->
			      	<!-- </a> -->
		    	<!-- </li> -->

		    </ul>
		</div>

<!-- Центральна панель -->
 {% block content %}







 {% endblock %}
</div>
</section>
<!-- Права панель -->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<!-- materialize_js	 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script>
	var loc = window.location;
	var wsStart = 'ws://';
	if (loc.protocol === 'https:'){
		wsStart = 'wss://';
	}
	// var request_user = {{ request.user.id }};
	var endpoint = wsStart + '127.0.0.1:8000/'+ {{ request.user.id }} + '/';
	console.log(endpoint);
	var liveuser_socket = new WebSocket(endpoint);
	console.log(liveuser_socket);
	liveuser_socket.onmessage = function(e){
		console.log('jej');
		var data = JSON.parse(e.data);
		var message = data['message'];
		var user = data['user'];

		$('#chat_window_messages').append('<div class="left_message col m12"><div class="left z-depth-1 col m6"><p class="message_text">'+ message.text+'</p></div></div>');

		// console.log(JSON.parse(data['json_data'])[0]);
		json_data = JSON.parse(data['json_data']);
		if (json_data){
			console.log(e.data);
			const ids = document.getElementsByClassName('id');
			for (let i = 0; i < ids.length; i++ ) {
				var id = ids[i].getAttribute('data-id');
				var from_user = json_data[0]['fields']['frm_user'];
				console.log(from_user);
				console.log(id);
				if (id==from_user){
					console.log('kl');
					$('.l'+id).append('<p><span id="new_message_count" class="right new badge">!</span></p>');
				}


		}
}

}
	liveuser_socket.onopen = function(e){
		console.log('open',e);
	}

	liveuser_socket.onerror = function(e){
		console.log('error',e);
		var liveuser_socket = new WebSocket(endpoint);
	}

	liveuser_socket.onclose = function(e){
		console.log('close',e);
		var liveuser_socket = new WebSocket(endpoint);
	}






	var messanger_endpoint = wsStart + '127.0.0.1:8000/messanger/'+{{ pk }} + '/' ;
	var messanger_websocket = new WebSocket(messanger_endpoint);
	console.log(messanger_endpoint);




	messanger_websocket.onmessage = function(e){
		var data = JSON.parse(e.data);
    var message = data['message'];
		var user = data['user'];
		console.log({{ request.user.id }});

		$('#chat_window_messages').append('<div class="right_message col m12"><div class="right z-depth-1 col m6 offset-m6"><p class="message_text">'+ message.text+'</p></div></div>');
		console.log('first2');

		var block = document.getElementById("chat_window_messages");
		block.scrollTop = block.scrollHeight;
		console.log('zbc');

	}

	messanger_websocket.onopen = function(e){
		console.log('messanger_open',e);
	}

	messanger_websocket.onerror = function(e){
		console.log('messanger_error',e);
	}

	messanger_websocket.onclose = function(e){
		console.log('messanger_close',e);
	}
	var message;
	$('.message').keyup(function(event){
			if(event.keyCode === 13){
					event.preventDefault();
					message = $('.message').val();
					console.log(message);

					messanger_websocket.send(message);
					liveuser_socket.send(message);
					$('.message').val('');
					console.log('kek');
			}
	});
</script>
</body>
</html>
